<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/PythonLight101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

Date: October 16th, 2024

HPC Training, 9:00 am

by Oleg N. Starovoytov

olegs@lsu.edu

Python programming language was created by Guido van Rossum. The first version was released in 1991.
It is used for web-applications, data analysis, scientific scripting etc. It can be implemented on different platforms including Linux, Mac, Windows, and other platforms.
It has a very simple and intuitive syntax
that can be easily used writing short and clear code. There is no need in compilation of the python code. The interpreter is used to run the programs.

# Outline

Section 1: **Python programming basics**

Section 2: **Operators**

Section 3: **Data collections**
   
Section 4: **Control flow**

Section 5: **Functions**

Section 6: **Modules**

Section 7: **Classes**

Section 8: **Exceptions**

Section 9: **Input and output (I/O) operations**

# Section 1: Python programming basics

In Python, it is common practice to use 4 spaces for identation. Use spaces and tabs can lead to errors.

        if True:
            print("Hello, World!")

In [ ]:
if True:
  print("Hello, World!")

Print function

In [ ]:
print("Hello, World!")

Comments

In [ ]:
# This is my comment
print("Hello, World!")

Variables

In [ ]:
a = 1
b = 2
c = "Oleg"

Casting

In [ ]:
a = str(1)
b = int('1')
c = float('1')
print(a,b,c)

1 1 1.0

In [ ]:
print(type(a), type(b), type(c))

<class 'str'> <class 'int'> <class 'float'>

Quotes

In [ ]:
a = "Oleg"
b = 'Oleg'
c = 'It's the python class'

Case

In [ ]:
A = 'apple'
a= 'banana'

Multiple values

In [ ]:
a, b, c = 2
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

Python Data Types

    Numeric types: int, float, complex
    Sequence types: list, tuple, range
    Mapping type: dict
    Set types: set, frozenset
    Text type: str
    Boolean type: bool
    Binary type: bytes, bytearray, memoryview
    None type: NoneType

In [ ]:
# Numeric types
a = 1
b = 2.3
c = 10 + 5j

In [ ]:
# Sequence types
fruits = ["apple", "banana", "mango"]
numbers = (1,2,3)
a = range(3)

In [ ]:
# Mapping type: dictionary
person ={"name": "Oleg", "age": 25}

In [ ]:
# Set types
set = {"apple", "banana", "mango"}
frozen_set = frozenset({"apple", "banana", "mango"})

In [ ]:
# Text type
text = "Hello, World"

In [ ]:
# Boolean type
it_is_true = True
it_is_false = False

In [ ]:
# Binary type
bytes = b"Hello"
bytearray = bytearray(5)
memoryview = memoryview(bytes(5))

In [ ]:
# None type
x = None

# Section 2: Operators

There are a number of operators in Pyhton

    Arithmetic operators: x + y, x - y, x * y, x ** y, x / y, x % y, x // y
    Assignment operators: =, +=, -=, *=, /=, //=, %=, **=, :=
    Comparison operators: x == y, x != y, x > y, x < y, x >= y, x <= y
    Logical operators: and, or, not
    Identity operators: is, is not
    Membership operators: in, not in
    Bitwise operators: &, |, ~, ^

In [ ]:
# Arithmetic operations
a = 2
b = 3
c = a + b
d = a - b
e = a * b
f = a ** b
g = a / b
j = a % b
h = a // b

In [ ]:
# Assignment operators
a = 2
a += 3
a -= 3
a *= 3
a /= 3
a //= 3
a %= 3
a **= 3

In [ ]:
# Comparison operators
a = 2
b = 3
a == b
a != b
a > b
a < b
a >= b
a <= b

In [ ]:
# Logical operators
a = True
b = False
a and b
a or b
not a

In [7]:
# Identity operators
a = 2
b = 2
a is b
a is not b

False

In [ ]:
# Membership operators
fruits = ["apple", "banana", "mango"]
"apple" in fruits
"apple" not in fruits

In [ ]:
# Bitwise operators
a = 2
b = 3
a & b
a | b
~a
a ^ b

Operator precedence

    Parentheses: ( )
    Exponentiation: **
    Unary: +x, -x, ~x
    Arithmetic: *, /, %, //, +, -
    Bitwise: <<, >>, AND, ^, |
    Comparison: ==, !=, >, >=, <, <=
    Identity: is, is not
    Membership operators: in, not in
    Logical: not, and, or

# Section 3: Data collections

Strings
---
Strings are an immutable collection of alphanumeric characters that are enclosed with single or double quotes. Strings literals can not be changed after they have been created. A double-quoted string literal may contain single quotes. Characters within a string can be accessed using indexing reference values starting with zero. If the reference index is out of range, Python will raise an IndexError. To access a range of characters, you can use slicing. You can indicate the start index and the end index enclosed with square brackets to access a range of characters as shown below.

---
Syntax:

     myString = " Lorem ipsum dolor sit amet "

     myString = " " " Lorem ipsum dolor sit amet, consectetur elit " " "

     myString = ' ' ' Lorem ipsum dolor sit amet, consectetur elit ' ' '

In [ ]:
#String

String indexing
---
Indexing is an important concept. Each character of a string has a unique index number. To access any characters of a string, we need to use the corresponding index number. Indexing of a string is the same as for a list, tuple, and dictionary but not a set. Sets are not indexed. The element of a string can be accessed using an index starting with 0.

---
Syntax:

        myString[index]

In [ ]:
# Strings elements can be accessed by their index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[index]

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[4])
print(myTestString[5])
print(myTestString[6])
print(myTestString[18])
print(myTestString[-1])
print(myTestString[-26])
print(len(myTestString))

String slicing
---
The slicing technique allows one to access a range of characters in a string. The range of characters can be indicated by a start index number and an end index number in square brackets. The start index number has always an inclusive bound and the end index number has always an exclusive bound. In other words, the start index number is included in the range and the end index number is not.

---
Syntax:

        myString[start index: end index : step]

In [ ]:
# Strings elements can be accessed by index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[start index: end index]

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[:4])
print(myTestString[0:5])
print(myTestString[0:6])
print(myTestString[0:18])
print(myTestString[-12:-1])
print(myTestString[-26:-25])
print(len(myTestString))

There are four types of data collections in Pyhton

    List:       [element 1, ..., element n]
    Tuple:      (element 1, ..., element n)
    Dictionary: {key:element 1, ..., key:element n}
    Set:        {element 1, ..., element n}

3.1 List
---
A list is used to store several items in a single variable. A list is a built-in type in Python. Lists can store more than one item at the same time. A list is a mutable data type meaning that the list can be updated at any point in time. New items can be inserted into the list or deleted from the list. It is a member of a data type called sequences. Various operations can be performed on the list including slicing, multiplication, addition, etc.

---

Syntax:

        myList = [element 1, element 2, ..., element n]

        myList = [element 1]

        myList = list()

List indexing
---
Each element of the list has a unique index number as shown below. To access any element of the list, we need to use that element's index number. The indexing of a list is the same as for strings. A list is a container for many items, with these items indexed starting with the first item being "0".

---
Syntax:

        myList[index]

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

List slicing
---
To print a range of elements in the list, you can use the slicing method.

---
Syntax:

        myList[start index: end index]

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5]
# --------------------------
# index              0,  1,  2,  3,  4
# negative index    -5, -4, -3, -2, -1

3.2 Tuple
---
Tuples are used to store multiple values to a single variable. Once a tuple is created, it can not be changed, it is immutable. Tuples are ordered as they are defined and that order will not be changed. You can have duplicates. A tuple is enclosed in parentheses. It is also indexed like strings and lists, starting with index 0. Slicing is also applicable to Tuples to access a range of elements like strings.

---

Syntax:

        myTuple = (element 1, element 2, ..., element n)

        myTuple = (element 1,)

        myTuple = element 1, element 2, ..., element n

        myTuple = tuple()

Tuple indexing
---

A tuple is also indexed as strings and lists, starting with index 0.

---
Syntax:

        myTuple[index]

Tuple slicing
---

A tuple can also be sliced as strings and lists, starting with index 0.

---
Syntax:

        myTuple[start index: end index]

In [ ]:
# Slice tuple with the index numbers

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

3.3 Dictionary
---
A dictionary is an ordered mutable data collection that cannot have key duplicates. The items can be removed, changed, and added. Dictionaries store data using **key:value** pairs enclosed in curly braces. A dictionary key can be an integer, float, string, or boolean. Keys must be unique but the values can be duplicates. Dictionaries are ordered starting from Python version 3.6. The values in the dictionaries are indexed by keys.

---
Syntax:

        myDictionary = {key 1: value, key 2: value, ..., key n: value}

        myDictionary = {key: value}

        myDictionary = dict()

3.4 Set
---

A set is used to store multiple elements in a single variable.
It is an unordered, unchangeable, unindexed sequence. Every time
you access the set, the order of the elements may vary. Elements of a
set cannot be accessed by an index number. You cannot modify the
set, but you can remove or add elements. Duplicates are not allowed.

---

Syntax:

        mySet = {element 1, element 2, ..., element n}

        mySet = {element 1}

        mySet = set()

3.5 Summary of data collections
---

  
    String          List        Tuple      Dictionary / Set

    immutable     mutable      immutable      mutable / mutable
    order/index order/index  order/index        order / unorder/unindexed
    duplicates    duplicates   duplicates  duplicates / noduplicates
      "   "        [   ]        (  )           {   }  / {*}, set()
      str()        list()      tuple()        dict()  / set()

    {*} - A set can not be declared with empty braces

# Section 4: Control flow

4.1 if ... statements

4.2 For loops

4.3 While loops

4.1 if ... statements
---
The if statement is used to check against some conditions along the code. There are three forms of the if statements in Python that can be used: if, if ... else, if ... elif ... else.

---

Syntax:

        if condition: block of code

        if condition: block of code else: block of code

        if condition: block of code elif condition: block of code else: block of code

In [ ]:
# if statement in two lines
if True:
  print("Hello,Python!")

In [19]:
a = 5

if a == 5: print("My variable is ", a)

My variable is  5

In [20]:
a = -5
if a != 5:
  print("My variable is ", a)

My variable is  -5

In [21]:
a = 10
b = 5
if a > b: print("a is greater than b")

a is greater than b

In [22]:
# Python automatically converts the integer to a float when comparing, so you don't need to explicitly convert types.
a= 5
b = 10.1
if a < b: print("b is greater than a")

b is greater than a

In [24]:
# if condition: block else: block
a = 'A'
b = 'a'
if a == b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are not equal

In [26]:
if a != b:
  print("a and b are not equal")
elif a == b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are equal

4.2 For loops
---
A for loop is an iterative function that allows you to iterate over a data sequence. There are two keywords in the for loop structure: "for" and "in". The for loop statement will access each element of the sequence at each iteration. The loop will continue iterating until it reaches the last element of a sequence.

---

Syntax:

        for variable in iterable: block of code

In [ ]:
# range (start, stop, step)
for i in range(5):
  print(i)

4.3 While loops
---
While loop executes a block of code as long as condition is True.

---

Syntax:

        while condition: block of code