<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introductin to Python**

by Oleg N. Starovoytov

Date: 03/22/2023

# Python *101*
1. Comments
2. Variables
3. Operators
4. Data types
5. Control flows
6. File I/O
7. Python modules
8. Classes

# 1. Comments

Comments are usually used to indicate important details about the code.

"#" - sign is used for comments in python, it can be placed right after the code. 

You can use triple quotes to make a multiline comments

""" Your comments can be placed here """

In [ ]:
# This is a comment
print("Hello World!")

Hello World!

In [ ]:
# This is a first comment
print("Hello World!") # This is my second comment

Hello World!

In [ ]:
""" This is a multiple 
line
commnet """
print("Hello World!")

Hello World!

# 2. Variables

**A variable's name references or points to an object. Each object can have various data types with some stored values. No particular type is used upon variable declaration.**

There are some rules for creating a variable name: 

a) A variable name can start with alpha-numeric characters and/or underscore (A-z, 0-9, and _ ),

b) a variable name is case-sensitive,

c) there is no limit on varable length,

d) there should not be any spaces for a multi-word variable,

e) no python keywords can be used to create a variable name,
   
   Examples: **for, while, print, ...**

To assign an object to the variable you need to use assign operator

In [ ]:
#Correct declaration of variables
myFirstVariable = "John"
MyFirstVariable = "John"
my_first_variable = "John"
_my_first_Variable = "John"
MY_FIRST_VARIABLE = "John"
myFirst_Variable363 = "John"

In [ ]:
#Illegal declaration of variables

100myFirstVariable = "John" # can not start with a number
my-first-variable = "John". # can not have dash in the name
my first variable = "John"  # can not have spaces in the variable name
&myFirstVariable="John"     # can not have special characters in the name 
for = "John"                # can not use reserved python keywords

In [ ]:
# Declaration of variables 
TestVariable = 1.0
print(type(TestVariable))
print(TestVariable)
TestVariable = "Python is fun!"
print(type(TestVariable))
print(TestVariable)

<class 'float'>
1.0
<class 'str'>
Python is fun!

Some other rules and conventions:

   **Camel Case** - each word starts with a capital letter except the first one.

   Example: **myVariableName**

   **Pascal Case** - each word starts with a capital letter.

   Example: **MyVariableName**

   **Snake Case** - each word is connected by underscore.

   Example: **my_variable_name**

In [ ]:
# Declaration of a variable using Camel Case
myFirstVariable = "Camel Case"
print(myFirstVariable)

Camel Case

In [ ]:
# Declaration of a variable using Pascal Case
MyFirstVariable = "Pascal Case"
print(MyFirstVariable)

Pascal Case

In [ ]:
# Declaration of a variable using Snake Case
my_first_variable = "Snake Case"
print(my_first_variable)

Snake Case

Assign multiple values

In [ ]:
# Assign multiple values to multiple variables in one line 
x, y, z = 23.4, 35.6, 45.1
print(x)
print(y)
print(z)

23.4
35.6
45.1

In [ ]:
# Assign multiple values of multiple data types to multiple variables in one line 
x, y, z, e, f, g = 23.4, 35.6, 45.1, "John", "Karl", True
print(x)
print(y)
print(z)
print(e)
print(f)
print(g)

23.4
35.6
45.1
John
Karl
True

In [ ]:
# Assign one value to multiple variables
x=y=z=2.25
print(x)
print(y)
print(z)

2.25
2.25
2.25

In [ ]:
#Using unpacking
coordinates=[2.35, 6.37, -8.94]
x,y,z = coordinates
print(x)
print(y)
print(z)

2.35
6.37
-8.94

In [ ]:
#Output variables
coordinates=[2.35, 6.37, -8.94]
x,y,z = coordinates
print(x, y, z)
print(x+y+z)

2.35 6.37 -8.94
-0.21999999999999886

In [ ]:
#Output variables
coordinates=["John", "Lisa", "Michelle"]
x,y,z = coordinates
print(x, y, z)
print(x+y+z)
print("*"*5)

John Lisa Michelle
JohnLisaMichelle
*****

**Global and local variables**

**Global variables** are the variables that can be accessed from anywhere in your code.

**Local variables** are accessable withing a local scope.

In [ ]:
mySecondVariable = "cool!"

def myfunc():
  print("Python is " + mySecondVariable)

myfunc()

In [ ]:
myThirdVariable = "awesome"

def myfunc():
  myLocalVariable = "fantastic"
  print("Python is " + myThirdVariable)
  print("Python is " + myLocalVariable)

myfunc()

print("Python is " + myLocalVariable)

In [ ]:
myThirdVariable = "awesome"

def myfunc():
    global myLocalVariable 
    myLocalVariable = "fantastic"
    print("Python is " + myThirdVariable)
    print("Python is " + myLocalVariable)

myfunc()

print("Python is " + myLocalVariable)

# 3. Data types

Variables can store different types of data.
There are **built-in data types** in python:

Numeric Types:	**int, float, complex**

Boolean Type:	**bool**

Sequence Types:	**string, list, tuple, range**

Dictionary Type:	**dict**

Set Types:	**set, frozenset**

Binary Types:	**bytes, bytearray, memoryview**

None Type:	**NoneType**

*Primitive types are **integer, float, string, and boolean**. All other are non-primitive types including lists, tuples, dictionary, and etc.*

The data type can be accessed by using type function.

In [38]:
#Using type function

MyFirstVariable = 23
mySecondVariable = 0.00036
myThirdVariable = 10+5j
myFourthVariable = True

myFirstVariable = "Hello World!"
myFifthVariable = [0,1,2,3,4,5,6,7,8,9]
mySixthVariable = ("John", "Mikle", "Desbey")

MySeventhVariable = {"Name":"John", "age":41, "Occupation":"CEO"}

MyEighthVariable = {"apple", "banana", "cherry"}
MyNinthVariable = frozenset({"apple", "banana", "cherry"})

myTenthVariable = b"Hello"
myEleventhVariable = bytearray(5)
myTwelvefthVariable = memoryview(bytes(5))

myThirteenthVariable = None
myFourteenthVariable = range(12)

print(type(myFirstVariable))
print(type(mySecondVariable))
print(type(myThirdVariable))
print(type(myFourthVariable))
print(type(myFifthVariable))
print(type(mySixthVariable))
print(type(MySeventhVariable))
print(type(MyEighthVariable))
print(type(MyNinthVariable))
print(type(myTenthVariable))
print(type(myEleventhVariable))
print(type(myTwelvefthVariable))
print(type(myThirteenthVariable))
print(type(myFourteenthVariable))

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>
<class 'range'>

In [ ]:
#Using random module
import random
print(random.randrange(1,10))

Python uses classes to define its data types, including its primitive types.

In [ ]:
#Using casting to specify the data type
myFirstVariable = int(1)        # will be 1
mySecondVariable = int(2.8)     # will be 2
myThirdVariable = int("3")      # will be 3

In [ ]:
#Using casting to specify the data type
myFirstVariable = float(10)     # will be 10.0
mySecondVariable = float(2.8)   # will be 2.8
myThirdVariable = float("4.2")  # will be 4.2

In [ ]:
#Using casting to specify the data type
myFirstVariable = str(1)   # will be 1
mySecondVariable = str(2.890) # will be 2.890
myThirdVariable = str("3.498") # will be 3.498

Binary only uses the digits 0 and 1.

In [61]:
#Binary numbers uses bin()
myFirstVariable = 0b101 #The binary numbers start with 0b
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)

print(bin(5))
print(type(bin(mySecondVariable)))

5
5
True
True
0b101
<class 'str'>

There are 16 digits in hexadecimal: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, and F. Where A is ten, B is eleven, C is twelve, D is thirteen, E is fourteen, and F is fifteen.

In [62]:
#Hexadecimal numbers uses hex()
myFirstVariable = 0x1F #The hexadecimal numbers start with "0x"
mySecondVariable = 26

print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)

print(hex(26))
print(myFirstVariable)
print(type(hex(mySecondVariable)))

False
False
0x1a
31
<class 'str'>

Finally, how many digits are in the octal number system? Octal contains eight digits. The oct() is used to convert numbers to octal in Python. The prefix ‘0o’ is used with octal numbers with a zero followed by a lowercase o.

The eight digits of octal are 0, 1, 2, 3, 4, 5, 6, 7.

In [63]:
#Octal numbers use oct()
myFirstVariable = 0o12 #The octal numbers start with "0o"
mySecondVariable = 0o12
print(myFirstVariable)
print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)


sumOct = int(myFirstVariable)+ int(mySecondVariable)
print(sumOct)

print(oct(sumOct))
print(type(oct(sumOct)))

10
True
True
20
0o24
<class 'str'>

In [ ]:
#Octal numbers use oct()
myFirstVariable = 0o123 #The octal numbers start with "0o"
mySecondVariable = 83
print(myFirstVariable)
print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)

sumOct = int(myFirstVariable,8)+ int(mysecondVariable,8)
print(sumOct)

83
True
True

In [ ]:
#String
myTestVariable = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(myTestVariable)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
myTestVariable = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(myTestVariable)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Strings are arrays
#The element of a string can be accessed

# 4. Operators

**Assignment operators**

* arithmetic: =, +=, -=, *=, /=, %=, //=		
* bitwise: **=, &=, |=, ^=, <<=

In [74]:
# Assignment operators

myFirstVariable = 5
mySecondVariable = 6

mySum = myFirstVariable + mySecondVariable

print(mySum)
print(myFirstVariable+mySecondVariable)

11
11

In [76]:
# += assignment operator

myFirstVariable = 5

myFirstVariable += 30 # myFirstVariable = myFirstVariable + 30

print(myFirstVariable)

35

In [86]:
# *= assignment operator

myFirstVariable = 3

myFirstVariable*=3

print(myFirstVariable)

9

In [92]:
# //= assignment operator (divident/divisor = quotient returns a quotient)

myFirstVariable = 6

myFirstVariable//=4 # myFirstVariable = myFirstVariable // 4

print(myFirstVariable)

1

In [93]:
# %= assignment operator (divident/divisor = quotient returns a remainder)

myFirstVariable = 6

myFirstVariable %= 4 # myFirstVariable = myFirstVariable % 4

print(myFirstVariable)

2

**Arithmetic operators**
* Addition:	x + y	
* Subtraction:	x - y	
*	Multiplication:	x * y	
* Division:	x / y	
* Modulus:	x % y	
* Exponentiation:	x ** y	
* Floor division:	x // y

**Bitwise operators**

You can use bitwise operators to perform Boolean logic on individual bits. That’s very similar to using logical operators such as and, or, and not.

You can evaluate Boolean expressions with bitwise operators instead of logical operators.

* &(AND) "This operator compares each bit and sets it to 1 if both are 1, otherwise it is set to 0."

* | (OR) "This operator compares each bit and sets it to 1 if one or both is 1, otherwise it is set to 0."

* ^(XOR) "This operator compares each bit and sets it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0."

* ~(NOT) "This operator inverts each bit (0 becomes 1 and 1 becomes 0)." 

* << (left shift) "This operator inserts a number of 0's from the right 
and let the same amount of leftmost bits fall off."

* \>> (right shift) "This operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's."


---

Decimal numbers and their binary values:

 0 = 0000000000000000

 1 = 0000000000000001
 
 2 = 0000000000000010
 
 3 = 0000000000000011
 
 4 = 0000000000000100
 
 5 = 0000000000000101
 
 6 = 0000000000000110
 
 7 = 0000000000000111
 
 8 = 0000000000001000
 
 9 = 0000000000001001

10 = 0000000000001010

11 = 0000000000001011

12 = 0000000000001100

In [100]:
#Bitwise AND (&) operator - logical conjuction
# 6 = 0000000000000110
# 3 = 0000000000000011
#----------------------
# 2 = 0000000000000010

print(6&3)

2

In [101]:
#Bitwise OR (|) operator - logical conjuction
# 6 = 0000000000000110
# 3 = 0000000000000011
#----------------------
# 2 = 0000000000000111

print(6|3)

7

In [103]:
#Bitwise NOT (~) operator - logical negation
#  3 = 0000000000000011
#--------------------------
# -4 = 1111111111111100

print(~3)

-4

In [104]:
#Bitwise XOR (^) operator - "exclusive or"
# 6 = 0000000000000110
# 3 = 0000000000000011
#--------------------------
# 5 = 0000000000000101

print(6^3)

5

In [106]:
#Bitwise << operator - "inserts zeroes to the right side"
# 3 = 00000000000000011
#-------------------------
# 12 = 0000000000001100

print(3<<2)

12

In [107]:
#Bitwise >> operator - "inserts zeroes to the left side"
# 8 = 0000000000001000
#------------------------
# 2 = 0000000000000010

print(8>>2)

2

**Comparison operators**

* Equal:	x == y	
* Not equal:	x != y	
* Greater than:	x > y	
* Less than:	x < y	
* Greater than or equal to:	x >= y	
* Less than or equal to:	x <= y

In [3]:
# Equal
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable==mySecondVariable:
  print("True")

True

In [10]:
# Not equal
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable!=mySecondVariable:
  print("True")
elif myFirstVariable==mySecondVariable:
  print("False")

False

In [11]:
# Grater than
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable>mySecondVariable:
  print("True")
else:
  print("False")

False

In [14]:
# Less than
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable>mySecondVariable:
  print("True")
else:
  print("False")

False

In [15]:
# Greater than or equal to
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable>=mySecondVariable:
  print("True")
else:
  print("False")

True

In [16]:
# Less than or equal to
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable<=mySecondVariable:
  print("True")
else:
  print("False")

True

In [18]:
# Short hand 1
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable<=mySecondVariable:print("True")
else:print("False")

True

In [35]:
# Short hand 2
myFirstVariable = 10.0
mySecondVariable = 10.0
print("True")if myFirstVariable<=mySecondVariable else print("False")

True

Identity operators

Identity operators compare the objects, they do not compare the values stored in the objects but the memory locations.



---

is 

is not

In [110]:
# is identity operator

myFirstVariable = [1,2,3,4,5]
mySecondVariable = [1,2,3,4,5]

myThirdVariable = myFirstVariable

print(myFirstVariable is myThirdVariable) # should return true, the same object
print(myFirstVariable is mySecondVariable)
print(myFirstVariable is not mySecondVariable)

print(myFirstVariable==mySecondVariable) # True, because myFirstVariable is equal to mySecondVariable

myThirdVariable.append(6)
print(myFirstVariable)

True
False
True
True
[1, 2, 3, 4, 5, 6]

**Logical operators**

* and, 	or, not

In [31]:
# Logical and operator
myFirstVariable = 10.0
mySecondVariable = 10.0
myThirdVariable = 20.0
if myFirstVariable<myThirdVariable and myFirstVariable==mySecondVariable:
  print("Both conditions are True")
else:
  print("False")

Both conditions are True

In [30]:
# Logical or operator
myFirstVariable = 10.0
mySecondVariable = 10.0
myThirdVariable = 20.0
if myFirstVariable<myThirdVariable or myFirstVariable<mySecondVariable:
  print("At least one of the conditions is True")
else:
  print("False")

At least one of the conditions is True

In [33]:
# Logical not operator
myFirstVariable = 10.0
mySecondVariable = 10.0
myThirdVariable = 20.0
if not myFirstVariable>myThirdVariable:
  print("myFirstVariable is not greater than myThirdVariable")
else:
  print("False")

myFirstVariable is not greater than myThirdVariable

**Operator precedence**

* Parentheses: ()	
* Exponentiation: **	
* Unary: +x,  -x,  ~x	
* Arithmetic: *,  /,  //,  %, +, -
* Bitwise: <<, >>, AND, ^, |	
* Comparison: ==,  !=,  >,  >=,  <,  <=  
* Identity: is,  is not,  in,  not in

More details on operators can be found at https://www.w3schools.com/python/default.asp

# 5. Control flows

* Sequential
* Decision
* Repetition
* Functions

In [130]:
#The sequential control flow

myFirstVariable = 20
mySecondVariable = 15

Subtraction = myFirstVariable - mySecondVariable

print(Subtraction)

5

In [ ]:
#The decision control statements

# if
# if-else
# nested if
# if-elif-else

In [131]:
#The if statement

myFirstVariable = 10
if (myFirstVariable <=10): print("True")

True

In [132]:
#The if statement
myFirstVariable = 20
if (myFirstVariable%2==0): print("myFirstVariable is an even number")

myFirstVariable is an even number

In [136]:
#The if-else statement

myFirstVariable = 10
if (myFirstVariable == 5): print("The value is 5")
else: print("The vlue is 10")

The vlue is 10

In [138]:
#The if-else statement

myFirstVariable = 11
if (myFirstVariable % 2 == 0): print("My variable is even number")
else: print("My variable is an odd number")

My variable is an odd number

In [144]:
#The nested if statements

myFistVaraiable = 10
mySecondVariable = 20
myThirdVariable =30

if (myFirstVariable > mySecondVariable):

    if (myFirstVariable > myThirdVariable):
      print("The value of myFirstVariable is too big")
    else:
      print("My second variable is too big")

elif (mySecondVariable > myThirdVariable):
  print("My second variable is too big")

else:
  print("My first variable is too small")

My first variable is too small

In [146]:
#The if-elif-else statement
myFirstVariable = 10
mySecondVariable = 20

if (myFirstVariable==mySecondVariable):
  print("Both variables are equal")
elif (myFirstVariable > mySecondVariable):
  print("The first variable is greater then the second one")
else:
  print("My first variable is smaller than my second one")

My first variable is smaller than my second one

In [ ]:
#The repetition control statements
# for loop
# while loop

In [149]:
#The "for" loop

myFirsrtList = [1,2,3,4,5]

for i in myFirstList:
  print("i " + str(i))

i 1
i 2
i 3
i 4
i 5

In [150]:
#The "for" loop statement

myFirstList = [1,2,3,4,5]

for i in range(len(myFirstList)):
  print(myFirstList[i], end = "")

12345

In [160]:
# The "while" loop statement

myFirstVariable = 5
i = 0

while i < myFirstVariable:
  print(i, end="")
  i+=1 # i = i +1

01234

In [158]:
#The "while" loop statement
myFirstVariable = 10
i = 0

while i<=myFirstVariable:
  i+=1
  print(i, end="")

1234567891011

The break and continue statements

In [162]:
#The break statement

i = 0
while i < 5:
  print(i)
  if i ==4: 
    break     #stops the loop even with the while condition is being true
  i+=1

0
1
2
3
4

In [163]:
#The while continue statement

i = 0
while i < 5:
  i+=1
  if i==4:
    continue
  print(i)

1
2
3
5

In [164]:
#The else statement

i = 0

while i < 5:
  print(i)
  i+=1
else:
  print("i is not less than 5 anymore")

0
1
2
3
4
i is not less than 5 anymore

In [166]:
# Functions

def myFirstFunction():
  print("Hello World!")

myFirstFunction()

Hello World!

In [168]:
# Functions

def mySecondFunction(PersonsName):
  print(PersonsName)

mySecondFunction("Oleg")
mySecondFunction("Jason")

Oleg
Jason

In [172]:
# Functions: parameter - inside of the parenthesis of function defenition.
# Functions: argument - the value passed to the function when it is called.

def myThirdFunction(myFirstName, mySecondName ): #parameters inside of the ()
  print(myFirstName + "  " + mySecondName)

myThirdFunction("Olaf", "Kalfeoie") #arguments passed to the function

Olaf  Kalfeoie

In [173]:
#Arbitrary number of arguments

def myFifthFunction(*names):
  print(names)

myFifthFunction("Olaf", "Stella", "Klaus")

('Olaf', 'Stella', 'Klaus')

In [174]:
# Sending arguments with the key=value syntax

def myRegularFunction(name1, name2, name3):
  print(name1, name2, name3)

myRegularFunction(name1="Olaf", name2="Holiaf", name3="Linux")

Olaf Holiaf Linux

The keyword arguments are often shortened as kwargs

In [177]:
#If the number of key words arguments is unknown

def myRegularFunction(**name):
  print(name)

myRegularFunction(myFirstName = "Oleaf", myLastName="Kwwiec", myMiddleName = "Komntras")

{'myFirstName': 'Oleaf', 'myLastName': 'Kwwiec', 'myMiddleName': 'Komntras'}

In [180]:
# default parameter in function statement

def myRegularFunction(x,y,z=10):
  print(x," ",y," ", z)

myRegularFunction(0.2, 0.35)
myRegularFunction(0.3, 0.45, 23456)

0.2   0.35   10
0.3   0.45   23456

In [186]:
#Function overlaoding is not supported

def MyOverloadingFunction(x=52):
  print(x)

MyOverloadingFunction(1.0)

1.0

In [191]:
#Passing a list of arguments

def myRegularFunction(fish):
  for i in fish:
    print(i)

fish=["Carp","Bass","Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe"]

myRegularFunction(fish)

Carp
Bass
Red Snapper
Labeo culbasu
Chanda Nama
Ruffe

In [188]:
#To return the value of the function use return statement

def myMathFunction(x,y,z):
  return(x+y+z)

myMathFunction(1,2,3)

6

In [192]:
#Empty function

def myRegularFunction():
  pass

In [194]:
#Recursion function - can call itself (5! = 1*2*3*4*5)

def myRecursiveFunction(x):
  """ This is a recursive function to find a fuctorial"""
  if x ==1:
    return 1;
  else:
    return (x * myRecursiveFunction(x-1))

x = 5
print("The factorial of x", x, "is", myRecursiveFunction(x))

The factorial of x 5 is 120

In [195]:
# A lambda function can take any number of arguments but have only one expression
# lambda arguments : expression

myLambdaFunction = lambda a: a+10
print(myLambdaFunction(10))

20

# 6. File I/O

# 7. Python modules

A file that contains a set of functions is called a module. This module can be accessed from a program using "**import**" keyword. A module can also contain variables of all data types. There are several built-in module that you can import.

In [ ]:
# import

# 8. Classes



---
Python is an object-oriented high-level language. Everything is an object in python that contians properties and methods.

In [113]:
#Creating your first class

class myFirstClass:
      myFirstVariable = "Name"

# Create an object named myFirstObject

myFirstObject = myFirstClass()

print(myFirstObject.myFirstVariable)

Name

In [116]:
#Using _init_() function with classes

class mySecondClass:
      def __init__(self, name, age, occupation):
        self.name = name
        self.age = age
        self.occupation = occupation

mySecondObject = mySecondClass("John", 48, "Doctor")

print(mySecondObject.name)
print(mySecondObject.age)
print(mySecondObject.occupation)

John
48
Doctor

The __init__() function is called automatically everytime new object is created.

"The __str__() function controls what should be returned when the class object is represented as a string."

"If the __str__() function is not set, the string representation of the object is returned."

In [122]:
#The __str__() function

class myThirdClass:
  def __init__(self, name, age, occupation):
    self.name = name
    self.age = age
    self.occupation = occupation

  def __str__(self):
    return f"{self.name}\\{self.age}\\{self.occupation}"

myThirdObject = myThirdClass("John", 48, "Doctor")

print(myThirdObject)

John\48\Doctor

Object Methods

In [129]:
#Methods in classes

class myFourthClass:
  def __init__(self,name, age, occupation):
    self.name = name
    self.age = age
    self.occupation = occupation

  def myName(self):
      print("Hello my name is " + self.name)

  def myAge(self):
      print("My age is " + str(self.age))

  def myOccupation(self):
      print("My occupation is " + self.occupation)

myFourthObject = myFourthClass("John", 48, "Doctor")

myFourthObject.myName()
myFourthObject.myAge()
myFourthObject.myOccupation()

Hello my name is John
My age is 48
My occupation is Doctor