<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/PythonLight101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

Date: October 16th, 2024

HPC Training, 9:00 am

by Oleg N. Starovoytov

olegs@lsu.edu

Python programming language was created by Guido van Rossum. The first version was released in 1991.
It is used for web-applications, data analysis, scientific scripting etc. It can be implemented on different platforms including Linux, Mac, Windows, and other platforms.
It has a very simple and intuitive syntax
that can be easily used writing short and clear code. There is no need in compilation of the python code. The interpreter is used to run the programs.

# Outline

Section 1: **Python programming basics**

Section 2: **Operators**

Section 3: **Data collections**
   
Section 4: **Control flow**

Section 5: **Functions**

Section 6: **Modules**

Section 7: **Classes**

Section 8: **Exceptions**

Section 9: **Input and output (I/O) operations**

# Section 1: Python programming basics

Print function

In [ ]:
print("Hello, World!")

Comments

In [ ]:
# This is a comment
print("Hello, World!")

Variables

In [ ]:
a = 1
b = 2
c = "Oleg"

Casting

In [ ]:
a = str(1)
b = int('1')
c = float('1')
print(a,b,c)

1 1 1.0

In [ ]:
print(type(a), type(b), type(c))

<class 'str'> <class 'int'> <class 'float'>

Quotes

In [ ]:
a = "Oleg"
b = 'Oleg'
c = 'It's the python class

Case

In [ ]:
A = 'apple'
a= 'banana'

Multiple values

In [ ]:
a, b, c = 2
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

Python Data Types

    Numeric types: int, float, complex
    Sequence types: list, tuple, range
    Mapping type: dict
    Set types: set, frozenset
    Text type: str
    Boolean type: bool
    Binary type: bytes, bytearray, memoryview
    None type: NoneType

In [ ]:
# Numeric types
a = 1
b = 2.3
c = 10 + 5j

In [ ]:
# Sequence types
fruits = ["apple", "banana", "mango"]
numbers = (1,2,3)
a = range(3)

In [ ]:
# Mapping type: dictionary
person ={"name": "Oleg", "age": 25}

In [ ]:
# Set types
set = {"apple", "banana", "mango"}
frozen_set = frozenset({"apple", "banana", "mango"})

In [ ]:
# Text type
text = "Hello, World"

In [ ]:
# Boolean type
it_is_true = True
it_is_false = False

In [ ]:
# Binary type
bytes = b"Hello"
bytearray = bytearray(5)
memoryview = memoryview(bytes(5))

In [ ]:
# None type
x = None

# Section 2: Operators

There are a number of operators in Pyhton

    Arithmetic operators: x + y, x - y, x * y, x ** y, x / y, x % y, x // y
    Assignment operators: =, +=, -=, *=, /=, //=, %=, **=, :=
    Comparison operators: x == y, x != y, x > y, x < y, x >= y, x <= y
    Logical operators: and, or, not
    Identity operators: is, is not
    Membership operators: in, not in
    Bitwise operators: &, |, ~, ^

In [10]:
# Arithmetic operations
a = 2
b = 3
c = a + b
d = a - b
e = a * b
f = a ** b
g = a / b
j = a % b
h = a // b

In [2]:
# Assignment operators
a = 2
a += 3
a -= 3
a *= 3
a /= 3
a //= 3
a %= 3
a **= 3

In [ ]:
# Comparison operators
a = 2
b = 3
a == b
a != b
a > b
a < b
a >= b
a <= b

In [ ]:
# Logical operators
a = True
b = False
a and b
a or b
not a

In [ ]:
# Identity operators
a = 2
b = 2
a is b
a is not b

In [ ]:
# Membership operators
fruits = ["apple", "banana", "mango"]
"apple" in fruits
"apple" not in fruits

In [ ]:
# Bitwise operators
a = 2
b = 3
a & b
a | b
~a
a ^ b

Operator precedence

    Parentheses: ( )
    Exponentiation: **
    Unary: +x, -x, ~x
    Arithmetic: *, /, %, //, +, -
    Bitwise: <<, >>, AND, ^, |
    Comparison: ==, !=, >, >=, <, <=
    Identity: is, is not
    Membership operators: in, not in
    Logical: not, and, or

# Section 3: Data collections