<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/PythonLight101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

Date: February 26th, 2025

HPC Training, 9:00 am

by Oleg N. Starovoytov

olegs@lsu.edu

Python programming language was created by Guido van Rossum. The first version was released in 1991.
It is used for web-applications, data analysis, scientific scripting etc. It can be implemented on different platforms including Linux, Mac, Windows, and other platforms.
It has a very simple and intuitive syntax
that can be easily used writing short and clear code. There is no need in compilation of the python code. The interpreter is used to run the programs.

# Outline

Section 1: **Python programming basics**

Section 2: **Operators**

Section 3: **Data collections**
   
Section 4: **Control flow**

Section 5: **Functions**

Section 6: **Modules**

Section 7: **Classes**

# Section 1: Python programming basics

In Python, it is common practice to use 4 spaces for identation. Use spaces and tabs can lead to errors.

        if True:
            print("Hello, World!")

In [ ]:
if True:
  print("Hello, World!")

Print function

In [ ]:
print("Hello, World!")

Comments

In [ ]:
# This is my comment
print("Hello, World!")

Variables

In [ ]:
a = 1
b = 2
c = "Oleg"

Casting

In [ ]:
a = str(1)
b = int('1')
c = float('1')
print(a,b,c)

1 1 1.0

In [ ]:
print(type(a), type(b), type(c))

<class 'str'> <class 'int'> <class 'float'>

Quotes

In [ ]:
a = "apple"
b = 'banana'
#c = 'It's the python class'

Case

In [ ]:
A = 'apple'
a= 'banana'

Multiple values

In [ ]:
a, b, c = 2
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

Python Data Types

    Numeric types: int, float, complex
    Sequence types: list, tuple, range
    Mapping type: dict
    Set types: set, frozenset
    Text type: str
    Boolean type: bool
    Binary type: bytes, bytearray, memoryview
    None type: NoneType

In [ ]:
# Numeric types
a = 1
b = 2.3
c = 10 + 5j

In [ ]:
# Sequence types
fruits = ["apple", "banana", "mango"]
numbers = (1,2,3)
a = range(3)

In [ ]:
# Mapping type: dictionary
person ={"name": "Oleg", "age": 25}

In [ ]:
# Set types
set = {"apple", "banana", "mango"}
frozen_set = frozenset({"apple", "banana", "mango"})

In [ ]:
# Text type
text = "Hello, World"

In [ ]:
# Boolean type
it_is_true = True
it_is_false = False

In [ ]:
# Binary type
bytes = b"Hello"
bytearray = bytearray(5)
memoryview = memoryview(bytes(5))

In [ ]:
# None type
x = None

# Section 2: Operators

There are a number of operators in Pyhton

    Arithmetic operators: x + y, x - y, x * y, x ** y, x / y, x % y, x // y
    Assignment operators: =, +=, -=, *=, /=, //=, %=, **=, :=
    Comparison operators: x == y, x != y, x > y, x < y, x >= y, x <= y
    Logical operators: and, or, not
    Identity operators: is, is not
    Membership operators: in, not in
    Bitwise operators: &, |, ~, ^

In [ ]:
# Arithmetic operations
a = 2
b = 3
c = a + b
d = a - b
e = a * b
f = a ** b
g = a / b
j = a % b
h = a // b

In [ ]:
# Assignment operators
a = 2
a += 3
a -= 3
a *= 3
a /= 3
a //= 3
a %= 3
a **= 3

In [ ]:
# Comparison operators
a = 2
b = 3
a == b
a != b
a > b
a < b
a >= b
a <= b

In [ ]:
# Logical operators
a = True
b = False
a and b
a or b
not a

In [ ]:
# Identity operators
a = 2
b = 2
a is b
a is not b

False

In [ ]:
# Membership operators
fruits = ["apple", "banana", "mango"]
"apple" in fruits
"apple" not in fruits

In [ ]:
# Bitwise operators
a = 2
b = 3
a & b
a | b
~a
a ^ b

Operator precedence

    Parentheses: ( )
    Exponentiation: **
    Unary: +x, -x, ~x
    Arithmetic: *, /, %, //, +, -
    Bitwise: <<, >>, AND, ^, |
    Comparison: ==, !=, >, >=, <, <=
    Identity: is, is not
    Membership operators: in, not in
    Logical: not, and, or

# Section 3: Data collections

There are four types of data collections in Pyhton

    List:       [element 1, ..., element n]
    Tuple:      (element 1, ..., element n)
    Dictionary: {key:element 1, ..., key:element n}
    Set:        {element 1, ..., element n}

Strings
---
Strings are an immutable collection of alphanumeric characters that are enclosed with single or double quotes. Strings literals can not be changed after they have been created. A double-quoted string literal may contain single quotes. Characters within a string can be accessed using indexing reference values starting with zero. If the reference index is out of range, Python will raise an IndexError. To access a range of characters, you can use slicing. You can indicate the start index and the end index enclosed with square brackets to access a range of characters as shown below.

---
Syntax:

     myString = " Lorem ipsum dolor sit amet "

     myString = " " " Lorem ipsum dolor sit amet, consectetur elit " " "

     myString = ' ' ' Lorem ipsum dolor sit amet, consectetur elit ' ' '

In [ ]:
# String with double quotes

myString = "Lorem ipsum dolor sit amet"

In [ ]:
# String with double triple quotes

myString = """ Lorem ipsum dolor sit amet, consectetur elit """

In [ ]:
# String with single triple quotes

myString = ''' Lorem ipsum dolor sit amet, consectetur elit '''

In [ ]:
myString = """ Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

String indexing
---
Indexing is an important concept. Each character of a string has a unique index number. To access any characters of a string, we need to use the corresponding index number. Indexing of a string is the same as for a list, tuple, and dictionary but not a set. Sets are not indexed. The element of a string can be accessed using an index starting with 0.

---
Syntax:

        myString[index]

In [ ]:
# Strings elements can be accessed by their index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[index]

myTestString="Lorem ipsum dolor sit amet"

print(len(myTestString))

In [ ]:
print(myTestString[4])
print(myTestString[5])
print(myTestString[6])
print(myTestString[18])
print(myTestString[-1])
print(myTestString[-26])

String slicing
---
The slicing technique allows one to access a range of characters in a string. The range of characters can be indicated by a start index number and an end index number in square brackets. The start index number has always an inclusive bound and the end index number has always an exclusive bound. In other words, the start index number is included in the range and the end index number is not.

---
Syntax:

        myString[start index: end index : step]

In [ ]:
# Strings elements can be accessed by index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[start index: end index]

myTestString="Lorem ipsum dolor sit amet"
print(len(myTestString))

In [ ]:
print(myTestString[:4])
print(myTestString[0:5])
print(myTestString[0:6])
print(myTestString[0:18])
print(myTestString[-12:-1])
print(myTestString[-26:-25])

3.1 List
---
A list is used to store several items in a single variable. A list is a built-in type in Python. Lists can store more than one item at the same time. A list is a mutable data type meaning that the list can be updated at any point in time. New items can be inserted into the list or deleted from the list. It is a member of a data type called sequences. Various operations can be performed on the list including slicing, multiplication, addition, etc.

---

Syntax:

        myList = [element 1, element 2, ..., element n]

        myList = [element 1]

        myList = list()

In [ ]:
# An empty list declaration

a = []

In [ ]:
# An empty list declaration using a constructor

b = list()

In [ ]:
# Lists with integers

myList = [1,2,3]

In [ ]:
# Lists with strings

myList = ["apple", "banana", "mango"]

In [ ]:
# Lists with booleans

myList = [True, False, True]

In [ ]:
# List with different data types

myList = [1, "apple", True]

In [ ]:
# Multidimentional nested list

myList = [[1,2,3], [4,5,6], [7,8,9]]

In [ ]:
print(len(myList))

List indexing
---
Each element of the list has a unique index number as shown below. To access any element of the list, we need to use that element's index number. The indexing of a list is the same as for strings. A list is a container for many items, with these items indexed starting with the first item being "0".

---
Syntax:

        myList[index]

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

In [ ]:
# List indexing

a = [1,2,3]
print(a[0])
print(a[1])
print(a[2])

In [ ]:
b = ["apple", "banana", "mango"]
print(b[0])
print(b[1])
print(b[2])

In [ ]:
# Copies of the list

a = [1,2,3]
b = a
c = list(a)
print(a,b,c)

In [ ]:
a[0]=10
print(a,b,c)

List slicing
---
To print a range of elements in the list, you can use the slicing method.

---
Syntax:

        myList[start index: end index: step index]

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5]
# --------------------------
# index              0,  1,  2,  3,  4
# negative index    -5, -4, -3, -2, -1

In [ ]:
# Slicing of the lists
myFirstList = [1,2,3,4,5]
print(myFirstList[0:3])
print(myFirstList[1:4])

In [ ]:
# Slicing of lists with a step
myList = [1,2,3,4,5,6,7,8,9,10]
print(myList[0:9:2])

In [ ]:
# Slicing of multidimentional lists
myList = [[1,2,3], [4,5,6], [7,8,9]]
print(myList[0][0:2])
print(myList[1][1:3])

3.2 Tuple
---
Tuples are used to store multiple values to a single variable. Once a tuple is created, it can not be changed, it is immutable. Tuples are ordered as they are defined and that order will not be changed. You can have duplicates. A tuple is enclosed in parentheses. It is also indexed like strings and lists, starting with index 0. Slicing is also applicable to Tuples to access a range of elements like strings.

---

Syntax:

        myTuple = (element 1, element 2, ..., element n)

        myTuple = (element 1,)

        myTuple = element 1, element 2, ..., element n

        myTuple = tuple()

In [ ]:
# Declaring an empty tuple

myTuple = ()

In [ ]:
# Declaring a tuple with the help of constructor

myTuple = tuple()

In [ ]:
# Declaring a tuple with one element

myTuple = (1,)

In [ ]:
# Declaring a tuple with many elements
myTuple = (1,2,3)

Tuple indexing
---

A tuple is also indexed as strings and lists, starting with index 0.

---
Syntax:

        myTuple[index]

In [ ]:
# Access the tuple with the index numbers

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

In [ ]:
myAustralianTuple=("Melbourne", "Sydney", "Brisbane", "Perth")
print(myAustralianTuple[0])
print(myAustralianTuple[1])
print(myAustralianTuple[2])
print(myAustralianTuple[3])

In [ ]:
myAustralianTuple=("Kangaroo", "Quokka", "Bandicoot")
print(myAustralianTuple[-1])
print(myAustralianTuple[-2])
print(myAustralianTuple[-3])

Tuple slicing
---

A tuple can also be sliced as strings and lists, starting with index 0.

---
Syntax:

        myTuple[start index: end index]

In [ ]:
# Slice tuple with the index numbers

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

In [ ]:
myTuple = (1,2,3,4,5,6,7,8,9,10)
print(myTuple[0:3])
print(myTuple[1:4])

In [ ]:
myTuple=(10, 11, "Python", "A", True)
print(myTuple[0:3])
print(myTuple[1:4])

3.3 Dictionary
---
A dictionary is an ordered mutable data collection that cannot have key duplicates. The items can be removed, changed, and added. Dictionaries store data using **key:value** pairs enclosed in curly braces. A dictionary key can be an integer, float, string, or boolean. Keys must be unique but the values can be duplicates. Dictionaries are ordered starting from Python version 3.6. The values in the dictionaries are indexed by keys.

---
Syntax:

        myDictionary = {key 1: value, key 2: value, ..., key n: value}

        myDictionary = {key: value}

        myDictionary = dict()

In [ ]:
# Declaring an empty dictionary
myDictionary = {}

In [ ]:
# Declaring an empty dictionary with the help of constructor
myDictionary = dict()

In [ ]:
# Declaring the dictionary with key:value pairs

myTestDictionary = {1: "apple", 2: "banana", 3: "mango"}

In [ ]:
# Declaring the nested dictionary
myTestDictionary = {1: "apple", 2: "banana", 3: "mango", 4: ["apple", "banana", "mango"]}

In [ ]:
# Accessing the dictionary's values
print(myTestDictionary[1])

In [ ]:
# Accessing the dicionary's values in the nested dictionary
print(myTestDictionary[4][1])

3.4 Set
---

A set is used to store multiple elements in a single variable.
It is an unordered, unchangeable, unindexed sequence. Every time
you access the set, the order of the elements may vary. Elements of a
set cannot be accessed by an index number. You cannot modify the
set, but you can remove or add elements. Duplicates are not allowed.

---

Syntax:

        mySet = {element 1, element 2, ..., element n}

        mySet = {element 1}

        mySet = set()

In [ ]:
# Set declaration
mySet = {1,2,3}

In [ ]:
# Set declaration with one element
mySet = {1}

In [ ]:
# An empty set declaration using a constructor
mySet = set()

In [ ]:
# An empty set declaration ?
mySet = {}
print(type(mySet))

3.5 Summary of data collections
---

  
    String          List        Tuple      Dictionary / Set

    immutable     mutable      immutable      mutable / mutable
    order/index order/index  order/index        order / unorder/unindexed
    duplicates    duplicates   duplicates  duplicates / noduplicates
      "   "        [   ]        (  )           {   }  / {*}, set()
      str()        list()      tuple()        dict()  / set()

    {*} - A set can not be declared with empty braces

# Section 4: Control flow

4.1 if ... statements

4.2 For loops

4.3 While loops

4.1 if ... statements
---
The if statement is used to check against some conditions along the code. There are three forms of the if statements in Python that can be used: if, if ... else, if ... elif ... else.

---

Syntax:

        if condition: block of code

        if condition: block of code else: block of code

        if condition: block of code elif condition: block of code else: block of code

In [ ]:
# if statement in two lines
if True:
  print("Hello,Python!")

In [ ]:
a = 5

if a == 5: print("My variable is ", a)

My variable is  5

In [ ]:
a = -5
if a != 5:
  print("My variable is ", a)

My variable is  -5

In [ ]:
a = 10
b = 5
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
# Python automatically converts the integer to a float when comparing, so you don't need to explicitly convert types.
a= 5
b = 10.1
if a < b: print("b is greater than a")

b is greater than a

In [ ]:
# if condition: block else: block
a = 'A'
b = 'a'
if a == b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are not equal

In [ ]:
if a != b:
  print("a and b are not equal")
elif a == b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are equal

4.2 For loops
---
A for loop is an iterative function that allows you to iterate over a data sequence. There are two keywords in the for loop structure: "for" and "in". The for loop statement will access each element of the sequence at each iteration. The loop will continue iterating until it reaches the last element of a sequence.

---

Syntax:

        for variable in iterable: block of code

In [ ]:
# range (start, stop, step)
for i in range(5):
  print(i)

In [ ]:
for i in range(0,10,2):
  print(i)

In [ ]:
myList = ["A", "B", "C", "D"]
for i in myList:
  print(i, end="")

In [ ]:
myString="Hello, Python!"
for i in myString:
  print(i, end="")

Hello, Python!

In [ ]:
for i in "October 16th, 2024":
  print(i, end="")

October 16th, 2024

In [ ]:
myList = ["A", "B", "C", "D"]
for i in range(len(myList)):
  print(i, myList[i])

In [ ]:
myDict = {"A":1, "B":2, "C":3, "D":4}
for i in myDict:
  print(i, myDict[i])

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)
    break

In [ ]:

for i in range(3):
  for j in range(3):
    print(i,j)
    continue
    print(i,j)

4.3 While loops
---
While loop executes a block of code as long as condition is True.

---

Syntax:

        while condition: block of code

In [ ]:
# while loop

while True:
  print("Hello, Python!")

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  i+=1
  if i == 3:
    break

1
2

In [ ]:
i = 1
j = 1
while i < 3:
  while j < 3:
    print(i,j)
    j += 1
  i += 1

1 1
1 2

In [ ]:
i = 1
j = 1
while i < 3:
  while j < 3:
    print(i,j)
    break
    j +=1
  i += 1

In [ ]:
i = 1
j = 1
while i < 3:
  while j < 3:
    print(i,j)
    continue
    j +=1
  i += 1

# Section 5: Functions

5.1 User defined functions

5.2 Functions with default parameters

5.3 Lambda functions

5.1 User-defined functions
---
Function is a block of orginized code to perform a specific action. Python language provides many built-in functions like print(), len(), range(), and ... However, you can create your own functions that are usually called user-define functions. Functions help to improve readability and usageability of your code.
Python reads the program from top to bottom and you need to define a function before yuo can use it. There are a few rules to define a function.

1. A function declared using the def keyword following by a function name and parenthesis, and ending with a column.
2. Parameters can be placed inside of the parenthesis.
3. The code block or multiple statements should be indented.
4. The return statement will exit the function and pass a result to the caller.value

---

Syntax:

        def functionName(parameters): block of code / return value

In [ ]:
# User defined function

def myNewFunc():
  print("Hello, Python!")

myNewFunc()

In [ ]:
# User defined function with an argument

def myNextFunc(a):
  print("It is an",a)

myNextFunc('apple')

In [ ]:
# User defined function with positional arguments

def myFruitFunc(a,b,c):
  print("There are three fruits:", a, b, c)

myFruitFunc('apple', 'banana', 'mango')

In [ ]:
# User defined function with an arbitrary number of arguments +'grape', 'fig'

def myNextFunc(*args):
  print("There are three fruits: ", args)

myNextFunc('apple','banana','mango')

In [ ]:
# User defined function with an keyword arguments

def myNextFunc(a, b, c):
  print("There are three fruits: ", a, b, c)

myNextFunc(a='apple', b='banana', c='mango')

There are three fruits:  apple banana mango

In [ ]:
# User defined function with an arbitrary number of keyword arguments

def myNextFunc(**kwargs):
  print("There are three fruits: ", kwargs)

myNextFunc(a='apple', b='banana', c='mango')

In [ ]:
# User defined function with an arbitrary number of positional and keyword arguments
def myNextFunc(a,b,c):
  print("There are three fruits: ", a, b, c)

myNextFunc('apple','banana', c='mango')

5.2 Functions with default parameters
---
Functions can be defined (created) with default parameters that are the values that parameters can accept by default if arguments are not provided.

---

Syntax:

           def  functionName(param 1, param 2 = val 2, ..., param n = value n): block of code
           call functionName(arg 1, arg 2, ..., arg n)

---

In [ ]:
# User defined function with one default parameter

def myNextFunc(a = 'fig'):
  print("It is an", a)

myNextFunc()

In [ ]:
# User defined function with many default parameters

def myNextFunc(f = 'fig', b = 'banana'):
  print("There are ", f, "and", b)

myNextFunc()

5.3 Lambda functions
---
Lambda function is a function that does not have a function name. A lambda function can take any number of arguments but can have only one expression.

---

Syntax:

        lambda variable: one expression

In [ ]:
# A lambda function can take any number of arguments but have only one expression
# lambda arguments : expression

myLambda = lambda a,b: a + b
print(myLambda(10, 11.1))

In [ ]:
# A lambda function can take any number of arguments but have only one expression
# lambda arguments : expression

myLambda = lambda a,b,c=5: a * b * c
print(myLambda(10, 11.1))

In [ ]:
def myFunc(a):
  return lambda a: a * a

tempFunc = myFunc(2)
print (tempFunc(2))

# Section 6: Modules

6.1 Built-in modules

6.2 Importing modules

6.3 Plotting modules

6.1 Built-in modules
---
We decompose our code in smaller pieces to make our code more readable. The way we can do this is to import modules to the code. A file that contains a set of functions is called a module. This module can be accessed from a program using "**import**" keyword. A module can also contain variables of all data types. You need to import a module to access all the functions and variables. Most python distributions come with many build-in modules like os, sys, time, math ... Here are a few examples with built-in functions such as os, sys, time, datetime, and math.

---

In [ ]:
# In this example the version of Python interpreter is return as string
import sys

print(sys.version)

In [ ]:
# In this example we use sys.path that returns a list of directories
# where the Python interpreter will search for the available modules.
import sys

print(sys.path)

In [ ]:
# To specify exact entity we need to use the following syntax.
import math

print(math.pi)

In [ ]:
# There is a dir() function that lists all the functions inside of a module
import math

myFirstList=dir(math)
print(myFirstList)

6.2 Importing modules
---

Syntax:

        1. import module

        2. from module import *
        
        3. from module import entity1, entity2, ...
        
        4. import module as short name or alias
        
        5. from module import entity name as short name
        
        Both statements ( 1. and 2. ) are importing all
        the entities from the module. The difference is
        that in the first example you need to use prefix
        (module.method) to refer to the method and in the
        second example you do not need to use the prefix.

In [ ]:
# Importing just the entire module, importing all the entities.
import math

print(math.acos(-1))
print(math.pi)

In [ ]:
# Importing just some of the entities.
from math import acos, pi

print(acos(-1))
print(pi)

In [ ]:
# You can also import a module using an alias to refer to the module,
# a shorter name or an acronym for example.
import math as m

print(m.acos(-1))
print(m.pi)

In [ ]:
# You can import everything from the module using an asterisk.
# It is not recommended to do so since a lot of conflicts can appear with your
# own function names and they will be replaced. You also need to notice that
# you do not need to specify math prefix anymore. You can just use the name itself.
#def sqrt(a): return 1.9

from math import *

print("Pi number", sqrt(2))

6.4 Plotting module
---
Matplotlib is the most popular plotting module. It is used to create static, animated, and interactive graphs.

In [ ]:
# Importing the required module as alias plt
import matplotlib.pyplot as plt

# Generate x,y-axis values
x=[1,2,3,4]
y=[1,2,3,4]

# Plotting the points
plt.plot(x,y)

# Figure and axis titles
plt.title ('Figure Title', fontsize=12, color='red')
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt and np
import matplotlib.pyplot as plt
import numpy as np

# Generate x,y-axis values
x = np.array([1, 8])
y = np.array([3, 10])

# Plotting the points
plt.plot(x, y)

# Figure and axis titles
plt.title ('Figure Title', fontsize=12, color='red')
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt, mth, and np
import matplotlib.pyplot as plt
import math as mth
import numpy as np

# Generate x from 0 to 1*pi (not included) with the step size of 0.01 between each value
x = np.arange(0,10 * np.pi, 0.01)
y = np.cos(x)

# Plotting the points
plt.plot(x, y)
plt.grid(True)

plt.xlabel('x', fontsize=12, color='blue')
plt.ylabel('cos(x)', fontsize=12, color='blue')
plt.title('Cosine Function', fontsize=12, color='blue')

# Show the plot using show() function
plt.show()

# Section 7: Classes

7.1 Building simple classes

7.2 Classes and objects

7.3 Encapsulation and abstraction

7.4 Inheritance

7.1 Building simple classes
---
Python is an object-oriented high-level programming (OOP) language. Objects are an important part of the Python programming. In fact, everything is an object in Python with default data and some functionality. Objects have attributes (variables) and methods (functions) specified in the class. To build an object, you need to use a constructor function ( _ _ init _ _() ). A constructor is a special function that is used to make an instance of a class. A class is like a blueprint that helps to create an object. You can then use that object (instance) of a class to assign some data and functionality. There are four main principles of object-oriented high-level programming.

---

Syntax:

        class ClassName():
              def _ _ init _ _(self):
                  block of code

In [ ]:
# Creating your first class

class FirstClass:
      myVariable = 1

In [ ]:
# Creating an object of this class

myObject = FirstClass()
print(myObject.myVariable)

7.2 Classes and objects
---
The _ _ init _ _() function is called automatically everytime a new object is created. All python constructors must have at least one parameter, by convention it is called "**self**", however, you can call it anything you want. The "**self**" parameter is used to access variables that belong to the class. First argument of the constructor is always filled automatically for us. Attributes are just variables inside of your constructor function.

---

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:

      # Class constructor
      def __init__(self, name, age):

        # Class attributes
        self.name = name
        self.age = age

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

# Creating a new object of a class, the first argument is the reference to the object.
mySecondObject = Employee("John", 48)

# Accessing the method of the class
print(mySecondObject)

In [ ]:
# Using _ _init_ _() and _ _ str_ _() functions with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def __str__(self):
        return f"Hello, My name is, {self.name}, and I am, {self.age}, years old."

# Creating a new object of a class, the first argument is the reference to the object.
mySecondObject = Employee("John", 48)

# Accessing the method of the class
print(mySecondObject)

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

# Creating a new object of a class, the first argument is the reference to the object.
mySecondObject = Employee("John", 48)

# Accessing the method of the class
mySecondObject.listInfo()

7.3 Encapsulation and abstraction
---
 Encapsulation involves the bundling of data (attributes) and method (functions) that operate on data within a single unit. A single unit is known as a class. It allows one to access and modify the attributes while keeping the attributes private.

 Abstraction is a way to simplify the complex reality by creating a class and hide some unnecessary details. You can implement abstraction using classes and methods, where you show only the relevant details and hiding the internal implementation.  

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", self.speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

myTrain.speed_up()
myTrain.speed_up()
myTrain.speed_up()

myTrain.show_speed()

7.4 Enheritance
---
 Enheritance provides a way to create a new class based on the existing class, inheriting its attributes and methods. We can create a superclass, which is broad and subclass that is more detailed. Here is an example of the inheritance.

---

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    pass

# Define a child or subclass class that inherits from Animal.

class Dog(Animal):
    pass

# Define a child or subclass class that inherits from Animal.

class Cat(Animal):
    pass

#issubclass(Dog,Animal)
#issubclass(Cat,Animal)

myDog = Dog()
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Some sound"

# Define a child or subclass class that inherits from Animal.
class Dog(Animal):
    def speak(self):
        return "Woof!"

# Another child subclass class that inherits from Animal.
class Cat(Animal):
    def speak(self):
        return "Meow!"

# Create instances of Dog and Cat
dog = Dog("Buddy")
cat = Cat("Whiskers")

# Call the speak method on both instances
print(f"{dog.name} says: {dog.speak()}")  # Output: Buddy says: Woof!
print(f"{cat.name} says: {cat.speak()}")  # Output: Whiskers says: Meow!