<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/PythonSet101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

Date: October 18th, 2023

HPC Training, 9:00 am

by Oleg N. Starovoytov

olegs@lsu.edu

# Outline

Section 1: **Python programming basics**

Section 2: **Operators**

Section 3: **Data collections**
   
Section 4: **Control flow**

Section 5: **Functions**

Section 6: **Modules**

Section 7: **Classes**

Section 8: **Exceptions**

Section 9: **Input and output (I/O) operations**

# Section 1: Python programming basics

1.1 Print function

1.2 Comments

1.3 Variables

1.4 Datatypes

1.5 Literals

1.6 Numbers

1.7 Casting

1.8 Boolean

1.9 String

1.1 Print function
---
The print function allows you to print data to the screen. We are going to use the print function a lot and that is why I would like you to get familiar with this function first.

---
Syntax:

        print(arguments)

In [ ]:
# Using the print function to display information on the screen

print("Hello, World!")

1.2 Comments
---
Comments are important in the process of programming. It is encouraged to leave comments inside of your code so that others may understand the code better. Comments in Python are made using a ( # ) sign to comment on a single line and using three single quotes ( ' ' ' ) or three double quotes ( " " " ) to comment on multiple lines.

---
Syntax:

        #     Lorem ipsum dolor sit amet, consectetur
        
        '''   Lorem ipsum dolor sit amet, consectetur   '''

        " " " Lorem ipsum dolor sit amet, consectetur " " "

In [ ]:
# This is my first comment

print("Hello, World!")

Hello, World!

In [ ]:
# Using three single quotes to make a multiple line comment

''' This is a multiple
    line
    comment '''

print("Hello, World!")

Hello, World!

In [ ]:
# Using three double quotes to make a multiple line comment

""" This is a multiple
    line
    comment """

print("Hello, World!")

Hello, World!

Note

---
Professional programmers include comments to the header of each file, listing the author, date, a description of the code, some other important information, and any updates that have been made. See example below.

---

In [ ]:
# function sortedArray = sort(myFirstArray)

# Author:  First name Second name (somename@address.edu)
# Date:    12/10/1815
# Updated: 06/10/1835
# Description: The sort function is sorting an array of integers
# Parameters: Array
# Return: Sorted array
# Example of usage: myFirstArray = [23,20,45,14,2]
#                   sortedArray  = [2,14,20,23,45]

1.3 Variables
---
A variable's name references or points to an object. Each object can have various data types with some stored values. No particular type is used upon variable declaration.

---
Syntax:

        myVariableName = value

In [ ]:
# Illegal declaration of variables

100myFirstVariable  = "Lorem"  # can not start with a number
my-first-variable   = "Lorem"  # can not have dash in the name
my first variable   = "Lorem"  # can not have spaces in the variable's name
&myFirstVariable    = "Lorem"  # can not have special characters in the name
              for   = "Lorem"  # can not use reserved python keywords

In [ ]:
# Correct declaration of variables

myFirstVariable     = "Lorem"
MyFirstVariable     = "Lorem"
my_first_variable   = "Lorem"
_my_first_Variable  = "Lorem"
MY_FIRST_VARIABLE   = "Lorem"
myFirst_Variable363 = "Lorem"

In [ ]:
# Usual declaration of variables

a = 1
b = 'Hello, World'
c = -100000000000
d = 0.345
e = True
f = 5.0E-51
g = 1_000_000_000
A_65_ASCII = "A"

Note

---

   **Camel Case** - each word starts with a capital letter except the first one.

Syntax:

        myVariableName

   **Pascal Case** - each word starts with a capital letter.

  Syntax:

        MyVariableName

   **Snake Case** - each word is connected by underscore.

   Syntax:

        my_variable_name

---

In [ ]:
# Declaration of a variable using Camel Case

myCamelCase = "Camel Case"

print(myCamelCase)

In [ ]:
# Declaration of a variable using Pascal Case

MyPascalCase = "Pascal Case"

print(MyPascalCase)

In [ ]:
# Declaration of a variable using Snake Case

my_snake_case = "Snake Case"

print(my_snake_case)

Note

---
Variables are created and initialized when you first assign a value to them.  
There are various ways to assign values to variables in Python.

---

In [ ]:
# Assign multiple values to multiple variables in one line

x, y, z = 23.4, 35.6, 45.1

print(x)
print(y)
print(z)

In [ ]:
# Assign multiple values of multiple data types to multiple variables in one line

x, atomName, stateID = 23.4, "Carbon", True

print(x)
print(atomName)
print(stateID)

In [ ]:
# Assign one value to multiple variables

x = y = z = 2.25

print(x)
print(y)
print(z)

In [ ]:
# Using unpacking method to assign values to variables

coordinates = [2.35, 6.37, -8.94]
x, y, z = coordinates

print(x)
print(y)
print(z)

Note

---
To delete a variable you need to use the del statement.

---

In [ ]:
# Deleting a variable using the del command

myTenthVariable = 65

print (myTenthVariable)
del myTenthVariable

Note

---
**Global and local variables:**

Global variables are the variables that can be accessed from anywhere in your code. Local variables are accessible within a local scope. Please see the Function section for more information about global and local variables.

---

1.4 Data types
---

The datatype of a variable is determined at runtime in Python. It supports many built-in data types and allows you to create your own data type using classes. One can use the *type()* function to determine the data type of a variable.

---

Syntax:

        type(myVariableName)

Note

---
Numeric Types:	*int, float, complex*

Text Type: *str*

Boolean Type:	*bool*

Sequence Types:	*list, tuple, range*

Mapping Type:	*dict*

Set Types:	*set, frozenset*

Binary Types:	*bytes, bytearray, memoryview*

None Type:	*None*

---

In [ ]:
# Using type function: type()

myFirstVariable   = 23
mySecondVariable  = 0.00036
myThirdVariable   = 10+5j
myFourthVariable  = True

myFifthVariable   = "Hello, World!"
mySixthVariable   = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
mySeventhVariable = ("John", "Mikle", "Desbey")

myEighthVariable  = {"Name":"John", "Age":41, "Occupation":"Doctor"}

myNinthVariable   = {"apple", "banana", "cherry"}

myTenthVariable   = frozenset({"apple", "banana", "cherry"})

myEleventhVariable   = b"Hello"
myTwelvefthVariable  = bytearray(5)
myThirteenthVariable = memoryview(bytes(5))

myFourteenthVariable = None
myFifteenthVariable  = range(12)

print(type(myFirstVariable))
print(type(mySecondVariable))
print(type(myThirdVariable))
print(type(myFourthVariable))
print(type(myFifthVariable))
print(type(mySixthVariable))
print(type(mySeventhVariable))
print(type(myEighthVariable))
print(type(myNinthVariable))
print(type(myTenthVariable))
print(type(myEleventhVariable))
print(type(myTwelvefthVariable))
print(type(myThirteenthVariable))
print(type(myFourteenthVariable))
print(type(myFifteenthVariable))

Note

---
The four primitive data types are *integer, float, string*, and *boolean*. All other are types are non-primitive, including *lists, tuples, dictionary, set, file*, and etc. Python uses classes to define its data types, including its primitive types.

---

1.5 Literals
---

Literals are data that are assigned to the variables or constants when they are declared. In other words, it is a fixed value. There are five types of literals in Python: Numeric literals, Boolean literals, String literals, Collection literals, and Special literal.

---

Note

---

Numeric literals:    *integer, float, complex*

Boolean literals:    *True, False*

String literals:     *text surrounded by single, double, or triple quotes*

Collection literals: *List, Tuple, Dict, Set*

Special literal:     *None*

---

In [ ]:
# Example of literals

# Integer literal

numLiteralInt = 0

# Binary literal

numLiteralBin = 0b10100

# Decimal literal

numLiteralDec = 50

# Float literal

numLiteralFloat = 234.8

# Complex literal

numLiteralComp = 2 + 3j

# Boolean literal

numLiteralBool = True

# List listeral

numLiteralList = [1,2,3]

# Special literal

numLiteralSpecial = None

1.6 Numbers
---
Primary numeric data types in Python are integers, floating-point numbers, and complex numbers.

---

Syntax:

        myVariableName = numeric datatype

In [ ]:
# Integer
myIntNumber = 1

# Float
myFloatNumber = 1.0

# Complex
myComplexNumber = 1.0j

Binary, octal, and hexadecimal numbers
---
In Python, you can work with *binary*, *octal*, and *hexadecimal* numbers using different prefixes and built-in functions. Here's how you can represent and work with these numeric bases.

---

**Binary (base 2)** can be represented by two digits [0,1] Base 2. The **bin()** function can be used to convert numbers to octal in Python. The prefix **‘0b’** is used with octal numbers with a zero followed by a lowercase **b**.

In [ ]:
# Binary numbers uses bin()

myFirstVariable  = 0b101 # The binary numbers start with 0b
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

**Octal (Base 8)** — can be represented by 8 digits [0–7] Base 8. The **oct()** function can be used to convert numbers to octal in Python. The prefix **‘0o’** is used with octal numbers with a zero followed by a lowercase **o**.

In [ ]:
# Octal numbers use oct()

myFirstVariable  = 0o05    # The octal numbers start with "0o"
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

**Hexadecimal (Base 16)** — can be represented by 10 digits [0–9] and 6 characters [A, B, C, D, E, F] Base 16. Where A is ten, B is eleven, C is twelve, D is thirteen, E is fourteen, and F is fifteen. The **hex()** function can be used to convert numbers to hexadecimal in Python. The prefix **‘0x’** is used with octal numbers with a zero followed by a lowercase **x**.

In [ ]:
# Hexadecimal numbers uses hex()

myFirstVariable  = 0x5 # The hexadecimal numbers start with "0x"
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

1.7 Casting
---
Casting is a conversion from one data type to another data type. There can be implicit conversions or explicit conversions using built-in functions. Explicit conversions can be performed with built-in functions like int(), float(), or str() as they act like constructors of different data types.

---

Syntax:

        myVariableName = function(VariableName)

In [ ]:
# Implicit conversion

myCastTest = 70
print(type(myCastTest))

myCastTest = myCastTest + 0.25
print(type(myCastTest))

In [ ]:
# Explicit conversion

myCastNumber = 7234
myCastString = str(myCastNumber)
myCastFloat  = float(myCastNumber)

print(type(myCastNumber))
print(type(myCastString))
print(type(myCastFloat))

In [ ]:
# Using casting to specify the data type

x = 5
y = 2

myFirstVariable  = complex(2 + 9)
mySecondVariable = complex( x )
myThirdVariable  = complex( x, y )

print("My complex number ", myFirstVariable )
print("My complex number ", mySecondVariable)
print("My complex number ", myThirdVariable )

1.8 Boolean
---
Booleans can be either True or False. True corresponds to the value of 1 and False corresponds to the value of 0. Please, keep in mind that **True** is not the same as **TRUE** or **true**. Similarly, **False** is not the same as **FALSE** or **false**.

---

In [ ]:
# Boolean

print(True)
print(False)

In [ ]:
# Casting of boolean

print(int(True))
print(int(False))

1.9 Strings
---
Strings are an immutable collection of alphanumeric characters that are enclosed with single or double quotes. Strings literals can not be changed after they have been created. A double-quoted string literal may contain single quotes. Characters within a string can be accessed using indexing reference values starting with zero. If the reference index is out of range, Python will raise an IndexError. To access a range of characters, you can use slicing. You can indicate the start index and the end index enclosed with square brackets to access a range of characters as shown below.

---
Syntax:

     myString = " Lorem ipsum dolor sit amet "

     myString = " " " Lorem ipsum dolor sit amet, consectetur elit " " "

     myString = ' ' ' Lorem ipsum dolor sit amet, consectetur elit ' ' '

In [ ]:
# Assign string to a variable using single quotes

myFirstString = 'This is my first string'
print(myFirstString)

In [ ]:
# Assign string to a variable using double quotes

mySecondString = "This is my second string"
print(mySecondString)

In [ ]:
# Assign string to a variable using single and double quotes

myThirdString = "This's my third string"
print(myThirdString)

In [ ]:
# Assign string to a variable using single quotes

myFourthString = 'That's my fourth string'

In [ ]:
# Escaping sequence - you can have more than one escaping character

myFourthString = 'That\'s my fourth string'
print(myFourthString)

In [ ]:
# Printing the backslash

myBackSlash = "\\"
print(myBackSlash)

In [ ]:
# Assign string to a variable using double quotes with single quotes inside

myFifthString = "I'm an instructor and you're a good student!"
print(myFifthString)

In [ ]:
# Assign a multiple line string to a variable - single quotes

myTestVariable = ''' Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(myTestVariable)

In [ ]:
# Assign a multiple line string to a variable - double quotes

myTestVariable = """ Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(myTestVariable)

String indexing
---
Indexing is an important concept. Each character of a string has a unique index number. To access any characters of a string, we need to use the corresponding index number. Indexing of a string is the same as for a list, tuple, and dictionary but not a set. Sets are not indexed. The element of a string can be accessed using an index starting with 0.

---
Syntax:

        myString[index]

In [ ]:
# Strings elements can be accessed by their index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[index]

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[4])
print(myTestString[5])
print(myTestString[6])
print(myTestString[18])
print(myTestString[-1])
print(myTestString[-26])
print(len(myTestString))

String slicing
---
The slicing technique allows one to access a range of characters in a string. The range of characters can be indicated by a start index number and an end index number in square brackets. The start index number has always an inclusive bound and the end index number has always an exclusive bound. In other words, the start index number is included in the range and the end index number is not.

---
Syntax:

        myString[start index: end index]

In [ ]:
# Strings elements can be accessed by index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[start index: end index]

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[:4])
print(myTestString[0:5])
print(myTestString[0:6])
print(myTestString[0:18])
print(myTestString[-12:-1])
print(myTestString[-26:-25])
print(len(myTestString))

String methods
---
There are many built-in methods that can be used on strings.

---

In [ ]:
# Upper case method: upper() - returns an upper case string

myFirstString = "Hello, World!"
print(myFirstString.upper())

In [ ]:
# Lower case method: lower() - returns a lower case string

myFirstString = "Hello, World!"
print(myFirstString.lower())

In [ ]:
# Strip method: strip() - removes whitespace before and after the actual text

myFirstString = " Hello, World ! "
print(myFirstString.strip())

In [ ]:
# Replace method: replace() - replaces a string with another string

myFirstString = "Hello, World!"
print(myFirstString.replace("Hello", "Good morning"))

In [ ]:
# Split method: split() - returns a list with the specified separator

myFirstString = "Good morning, World!"

print(myFirstString.split())

In [ ]:
# Split and replace methods together: split() and replace()

myFirstString = "Good morning, World!"

myFirstString = myFirstString.replace(',','')

print(myFirstString.strip())

String operations
---
Some basic operations can be performed on strings.

---

In [ ]:
# Strings are immutable

myFirstString = "Hello, World!"
myFirstString[0] = "G"

In [ ]:
# String concatenation

myFirstString  = "Hello"
mySecondString = "World!"

print (myFirstString + mySecondString)

In [ ]:
# String concatenation

myFirstString  = "Hello"
mySecondString = "World"

print (myFirstString, mySecondString, sep=", ", end = "!")

In [ ]:
# String multiplication

myStarString  = "*"
mySmileString = ")"

print (myStarString * 2)
print (myStarString * 4)
print (myStarString * 6 + " " + mySmileString)

# Section 2: Operators

2.1 Arithmetic operators

2.2 Comparison operators

2.3 Logical operators

2.4 Bitwise operators

2.5 Identity operators

2.6 Membership operators

2.7 Operator precedence

2.1 Arithmetic operators
---

* Addition:	x + y
* Subtraction:	x - y
*	Multiplication:	x * y
* Exponentiation:	x ** y
* Division:	x / y
* Modulus:	x % y	         (returns the remainder of a division)
* Floor division:	x // y   (rounds the result down to the nearest whole number)

---

In [ ]:
# Exponentiation operator: **

myFirstVariable  = 2
mySecondVariable = 8

myExponentResult = myFirstVariable ** mySecondVariable

print(myExponentResult)

In [ ]:
# Division operator: /     (will always result in float type)

myFirstVariable  = 8
mySecondVariable = 2

myDivisionResult = myFirstVariable / mySecondVariable

print(myDivisionResult)

In [ ]:
# Floor division operator: //       quotient = (dividend // divisor)
#                          quotient = (   10    //    3   )

myFirstVariable  =  10
mySecondVariable =   3

myFloorResult = myFirstVariable // mySecondVariable

print(myFloorResult)

In [ ]:
# Floor division operator: //       quotient = -ceil(-dividend / divisor)
#                          quotient = -ceil(-( -10  ) /    3   )
#                          quotient = -ceil(          4        )

myFirstVariable  = -10
mySecondVariable =   3

myFloorResult = myFirstVariable // mySecondVariable

print(myFloorResult)

In [ ]:
# Floor division operator: //       quotient =  (dividend // divisor)
#                          quotient =  (  10     //   -3   )
#                          quotient =  (         -4        )

myFirstVariable  =  10
mySecondVariable =  -3

myFloorResult = myFirstVariable // mySecondVariable

print(myFloorResult)

In [ ]:
# Modulus operator: %  reminder = dividend - (divisor * quotient)
#                      reminder =    8     - (   2    *    4    )
#                      reminder =    0

myFirstVariable  = 8
mySecondVariable = 2

myModulusResult = myFirstVariable % mySecondVariable

print(myModulusResult)

In [ ]:
# Modulus operator: %  reminder = dividend - (divisor * (dividend // divisor))
#                      reminder =   -10    - (   3    * (   -10   //   3    ))
#                      reminder =   -10    - (   3    * (         -4        ))
#                      reminder =     2

myFirstVariable  = -10
mySecondVariable =   3

myModulusResult = myFirstVariable % mySecondVariable

print(myModulusResult)

In [ ]:
# Modulus operator: %  reminder = dividend - (divisor * (dividend // divisor))
#                      reminder =   -10    - (  -3    * (   -10   //   -3   ))
#                      reminder =   -10    - (  -3    * (          3        ))
#                      reminder =    -1

myFirstVariable  = -10
mySecondVariable =  -3

myModulusResult = myFirstVariable % mySecondVariable

print(myModulusResult)

In [ ]:
# You can add, subtract, multiply, and divide complex numbers
# z1 = a + bj
# z2 = c + dj
#
# z1 + z2 =  (a + c) + (b + d)j
# z1 - z2 =  (a - c) + (b - d)j
# z1 * z2 =  (a*c - b*d) + (a*d + b*c)j
# z1 / z2 = [(a*c + b*d) / (c*c + d*d)] + [(b*c - a*d)/(c*c + d*d)]j

z1 = 3 + 4j
z2 = 1 + 5j

print("Addition :", z1 + z2 )
print("Subtract :", z1 - z2 )
print("Multiply :", z1 * z2 )
print("Divide :"  , z1 / z2 )

Assignment operators
---
Assignment: =, +=, -=, * =, /=, //=, %=, **=, :=

---

In [ ]:
# Assignment operator: =

myFirstVariable  = 5

myTestVariable = myFirstVariable

print(myTestVariable)

In [ ]:
# Assignment operator: +=

myFirstVariable = 5

myFirstVariable += 30          # myFirstVariable = myFirstVariable + 30

print(myFirstVariable)

In [ ]:
# Assignment operator: *=

myFirstVariable = 3

myFirstVariable *= 30          # myFirstVariable = myFirstVariable * 30

print(myFirstVariable)

In [ ]:
# Assignment operator: /=

myFirstVariable = 6

myFirstVariable /= 4.0         # myFirstVariable = myFirstVariable / 4.0

print(myFirstVariable)

In [ ]:
# Assignment operator: //=  (divident //= divisor = quotient returns a quotient)

myFirstVariable = 13

myFirstVariable //= 4          # myFirstVariable = myFirstVariable // 4

print(myFirstVariable)

In [ ]:
# Assignment operator:  %=  (divident %= divisor = quotient returns a remainder)

myFirstVariable = 6

myFirstVariable %= 4          # myFirstVariable = myFirstVariable % 4

print(myFirstVariable)

In [ ]:
# Assignment operator: **=

myFirstVariable = 2

myFirstVariable **= 8          # myFirstVariable = myFirstVariable ** 4

print(myFirstVariable)

Note

---
Assignment syntax operator ( := ) reminds a walrus with tusks - walrus operator. It is very useful for if and while conditional statements, will be discussed below. Please, see Section 4, Control flow.

---
   Syntax:

        myVariable := expression

2.2 Comparison operators
---

* Equal:	x == y
* Not equal:	x != y
* Greater than:	x > y
* Less than:	x < y
* Greater than or equal to:	x >= y
* Less than or equal to:	x <= y

---

In [ ]:
# Equal operator: ==

myFirstVariable  = 10.0
mySecondVariable = 10.0

print(myFirstVariable == mySecondVariable)

In [ ]:
# Not equal operator: !=

myFirstVariable  = 10.0
mySecondVariable =  9.0

print(myFirstVariable != mySecondVariable)

In [ ]:
# Greater than operator: >

myFirstVariable  = 10.0
mySecondVariable =  9.0

print(myFirstVariable > mySecondVariable)

In [ ]:
# Less than operator: <

myFirstVariable  = 10.0
mySecondVariable =  9.0

print(mySecondVariable < myFirstVariable)

In [ ]:
# Greater than or equal to operator: >=

myFirstVariable  = 10.0
mySecondVariable = 10.0

print(mySecondVariable >= myFirstVariable)

In [ ]:
# Less than or equal to operator: <=

myFirstVariable  = 10.0
mySecondVariable = 10.0

print(mySecondVariable <= myFirstVariable)

In [ ]:
# String comparison -> ASCII Table: A = 65, B = 66, C = 67, D = 68, a = 97, b = 98, c = 99, d =100

myFirstVariable  = "A"
mySecondVariable = "A"

print(myFirstVariable == mySecondVariable)

In [ ]:
# String comparison -> ASCII Table: A = 65, B = 66, C = 67, D = 68, a = 97, b = 98, c = 99, d =100

myFirstVariable  = "ABCDa"
mySecondVariable = "ABCDb"

print(myFirstVariable == mySecondVariable)
print(myFirstVariable >  mySecondVariable)
print(myFirstVariable <  mySecondVariable)

In [ ]:
# Complex numbers can not be compared using comparison operators

myFirstComplex  = 3 + 5j
mySecondComplex = 3 + 5j

print(myFirstVariable == mySecondVariable)

2.3 Logical operators
---

* and
* or
* not

---

In [ ]:
# Logical operator: and

myFirstVariable  = 10.0
mySecondVariable = 10.0
myThirdVariable  = 20.0

print(myFirstVariable < myThirdVariable and myFirstVariable == mySecondVariable)

In [ ]:
# Logical operator: or

myFirstVariable  = 10.0
mySecondVariable = 10.0
myThirdVariable  = 20.0

print(myFirstVariable > myThirdVariable or myFirstVariable == mySecondVariable)

In [ ]:
# Logical operator: not

myFirstVariable  = 10.0
mySecondVariable = 20.0

print(not myFirstVariable > mySecondVariable)

2.4 Bitwise operators
---

You can use bitwise operators to perform Boolean logic on individual bits. It is very similar to using logical operators such as *and*, *or*, and *not*.

You can evaluate Boolean expressions with bitwise operators instead of logical operators.

---

In [ ]:
# Bitwise operator: AND (&) - logical conjuction
# 6 = 00000110
# 3 = 00000011
#----------------------
# 2 = 00000010

print(6&3)

In [ ]:
# Bitwise operator: OR (|) - logical conjuction
# 6 = 00000110
# 3 = 00000011
#----------------------
# 7 = 00000111

print(6|3)

In [ ]:
# Bitwise operator: NOT (~) - logical negation
#  3 = 00000011
#--------------------------
# -4 = 11111100

print(~3)

In [ ]:
# Bitwise operator: XOR (^) - exclusive OR
# 6 = 00000110
# 3 = 00000011
#--------------------------
# 5 = 00000101

print(6^3)

In [ ]:
# Bitwise operator: << - inserts zeroes to the right side
# 3  = 00000011
#-------------------------
# 12 = 00001100

print(3<<2)

In [ ]:
# Bitwise operator: >> - inserts zeroes to the left side
# 8 = 00001000
#------------------------
# 2 = 00000010

print(8>>2)

Assignment operators
---

Bitwise: &=, |=, ^=, >>=, <<=

---

In [ ]:
# Assignment operator: &=

myFirstBit = 6

myFirstBit &= 3
print(myFirstBit)          # myFirstBit = myFirstBit & 3

In [ ]:
# Assignment operator: |=

myFirstBit = 6

myFirstBit |= 3
print(myFirstBit)          # myFirstBit = myFirstBit | 3

In [ ]:
# Assignment operator: ^=

myFirstBit = 6

myFirstBit ^= 3
print(myFirstBit)          # myFirstBit = myFirstBit ^ 3

In [ ]:
# Assignment operator: <<=

myFirstBit = 3

myFirstBit <<= 2
print(myFirstBit)          # myFirstBit = myFirstBit << 2

In [ ]:
# Assignment operator: >>=

myFirstBit = 8

myFirstBit >>= 2
print(myFirstBit)          # myFirstBit = myFirstBit >> 2

2.5 Identity operators
---

*   is
*   is not

---

In [ ]:
# Identity operator: is

myFirstVariable  = "Hello World!"
mySecondVariable = "Hello World!"

myThirdVariable  =  myFirstVariable

print(myFirstVariable is mySecondVariable)
print(myFirstVariable is myThirdVariable )

print("Printing memory addresses :", id(myFirstVariable), id(mySecondVariable))
print("Printing memory addresses :", id(myFirstVariable), id(myThirdVariable) )

False
True
Printing memory addresses : 133841023586992 133841023587376
Printing memory addresses : 133841023586992 133841023586992

In [ ]:
# Identity operator: is not

myFirstVariable  = "Hello World!"
mySecondVariable = "Hello World!"

myThirdVariable  =  myFirstVariable

print(myFirstVariable is not mySecondVariable)
print(myFirstVariable is not myThirdVariable )

print("Printing memory addresses :", id(myFirstVariable), id(mySecondVariable))
print("Printing memory addresses :", id(myFirstVariable), id(myThirdVariable) )

True
False
Printing memory addresses : 133841023589744 133841023583920
Printing memory addresses : 133841023589744 133841023589744

2.6 Membership operators
---

*   in
*   not in

---

In [ ]:
# Membership operator: in  - returns True if a specified element (sequence) exists

myTestString = "Hello World!"
print("World" in myTestString)

In [ ]:
# Membership operator: not in - returns True if a specified element does not exist

myTestString = "Hello World"
print("A" not in myTestString)

2.7 Operator precedence
---

* Parentheses: ()
* Exponentiation: **
* Unary: +x,  -x,  ~x
* Arithmetic: *,  /, %, //, +, -
* Bitwise: <<, >>, AND, ^, |
* Comparison: ==,  !=,  >,  >=,  <,  <=  
* Identity: is,  is not  
* Membership: in, in not
* Logical: not, and, or

---

Note

---
Python is an object-oriented language and, therefore, objects are an important part of Python programming. In fact, everything in Python with an object contains default data and some functionality. To build an object, you need to use a constructor function. A constructor is a special function that is used to make an instance of a class. A class is like a blueprint to create an object. You can then use that object (instance) of a class to assign some data and functionality.

---

In [ ]:
class Pencil():

    # Constructor
    def __init__(self, diameter, length, color):

        self.diameter = diameter
        self.length   = length
        self.color    = color

# Section 3: Data Collections

3.1 List

3.2 Tuple

3.3 Dictionary

3.4 Set

3.5 Summary of data collections

3.1 List
---
A list is used to store several items in a single variable. A list is a built-in type in Python. Lists can store more than one item at the same time. A list is a mutable data type meaning that the list can be updated at any point in time. New items can be inserted into the list or deleted from the list. It is a member of a data type called sequences. Various operations can be performed on the list including slicing, multiplication, addition, etc.

---

Syntax:

        myList = [element 1, element 2, ..., element n]

        myList = [element 1]

        myList = list()

List declaration
---
You can declare or create a list using various ways.

---

In [ ]:
# Creating an empty list

myEmptyList = []

print("My empty list :", myEmptyList)
print(type(myEmptyList))

In [ ]:
# Creating an empty list using the constructor: list()

myEmptyList = list()

print("My empty list :", myEmptyList)
print(type(myEmptyList))

In [ ]:
# Creating a list of strings

myFishList = ["Red Snapper", "Carp", "Bass"]

print(myFishList)

In [ ]:
# Creating a list of integers

myNumberList = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(myNumberList)

In [ ]:
# Creating a list with various data types

myMixedList  = [10, 11.0, 123, "Python", "A", -234.5, True, False, 1.23E-24]
myNumberList = [1, 2, 3, 4, 5]

print(myMixedList, myNumberList, sep=" ; ")

In [ ]:
# Creating a list with the list() constructor

myFishList = list(("Carp", "Brass", "Red Snapper"))  # use round brackets

print(myFishList)
print(type(myFishList))

In [ ]:
# List constructor: list() - returns a copy of the list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

myNewList  =  list(myFishList)

print(myNewList)
print(myNewList is myFishList)

In [ ]:
# List function: len() - getting length of the list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

print(len(myFishList))

List indexing
---
Each element of the list has a unique index number as shown below. To access any element of the list, we need to use that element's index number. The indexing of a list is the same as for strings. A list is a container for many items, with these items indexed starting with the first item being "0".

---
Syntax:

        myList[index]

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

myFirstList = ["Red Snapper", "Carp", "Bass"]

print(myFirstList[0])
print(myFirstList[1])
print(myFirstList[2])

List slicing
---
To print a range of elements in the list, you can use the slicing method.

---
Syntax:

        myList[start index: end index]

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5]
# --------------------------
# index              0,  1,  2,  3,  4
# negative index    -5, -4, -3, -2, -1

myFirstList = [1, 2, 3, 4, 5]

print(myFirstList)
print(myFirstList[:])
print(myFirstList[1:])
print(myFirstList[0:3])
print(myFirstList[3:4])
print(myFirstList[3:5])
print(myFirstList[-4:])
print(myFirstList[-4:-1])
print(myFirstList[-5])

In [ ]:
# Multi-dimensional (nested) lists

myNestedList = [1, 2, 3, [10, 20, 30], 'String']

print(myNestedList)
print(type(myNestedList))
print(len(myNestedList))

In [ ]:
# Accessing a nested list some values

myNestedList = [ 1, 2, 3, [10, 20, 30], 'String']
print(myNestedList[3][1])
print(len(myNestedList[3]))

In [ ]:
# Using the sorted() function, Syntax: sorted(iterable, key = ..., reverse = ...)

myNestedList = [ 1.2, -0.2, 3.0, 0.6]
print(sorted(myNestedList))

[-0.2, 0.6, 1.2, 3.0]

In [ ]:
# Check if an item is in the list

mySecondList = ["Carp", "Brass", "Fly"]

print("Fly" in mySecondList)

In [ ]:
# Change the values in the list

mySecondList = ["Carp", "Brass", "Fly", "Spider"]

mySecondList[2:3] = ["Red Snapper", "Shark"]

print(mySecondList)

In [ ]:
# Using the sorted() function, Syntax: sorted(iterable, key = ..., reverse = ...)

myNestedList = [ "Lorem", "ipsum", "do", "sit", "amet", "consectetur", "elit"]

print(sorted(myNestedList, key=len))

In [ ]:
# Using the sorted() function with the lambda function, ord(), and max() functions

mySrtList = [ "Lorem", "ipsum", "do", "sit", "amet", "consectetur", "elit"]

print(sorted(mySrtList, key = lambda Chr: ord(max(Chr))))

List methods
---
There are many methods that can be used on lists.

---

In [ ]:
# Insert method: insert() - inserts an element to the list

myFishingSet = ["Carp", "Brass", "Fly", "Spider"]

myFishingSet.insert(2, "Spinning")
myFishingSet.insert(3, "Casting")

print(myFishingSet)

In [ ]:
# Append method: append() - appends an element to the list

myFishList = ["Carp"]

myFishList.append("Brass")
myFishList.append("Red Snapper")
myFishList.append("Shark")

print(myFishList)

In [ ]:
# Extend method: extend() - add an element to the end of a list

myFishList = ["Carp", "Brass", "Red Snapper"]
myLureList = ["Fly", "Spider", "Worm"]

myFishList.extend(myLureList)

print(myFishList)

In [ ]:
# Remove method: remove() - removes an element from the list

myFishList = ["Carp", "Brass", "Red Snapper"]

myFishList.remove("Carp")

print(myFishList)

In [ ]:
# Pop method: pop() - removes an element at a specified index, if you do not specify, removes the last element

myFishList = ["Carp", "Brass", "Red Snapper"]

myFishList.pop(1)

print(myFishList)

myFishList.pop()

print(myFishList)

In [ ]:
# Clear method: clear() - removes all the elements from a list

myLureList = ["Fly", "Spider", "Worm"]

myLureList.clear()

print(myLureList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case sensitive)

myFishList = ["Carp", "Brass", "Red Snapper", "Shark", "Arowana", "Catfish"]

myFishList.sort()

print(myFishList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case sensitive)

myFishList = ["Carp", "Brass", "Red Snapper", "Shark", "Arowana", "Catfish"]

myFishList.sort(reverse = True)

print(myFishList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case sensitive)

myFishList = ["Carp", "brass", "Red Snapper", "shark", "Arowana", "catfish"]

myFishList.sort()

print(myFishList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case insensitive)

myFishList = ["Carp", "Brass", "red Snapper", "shark", "Arowana", "catfish"]

myFishList.sort(key=str.lower) # sort(key = ..., reverse = ...)

print(myFishList)

['Arowana', 'Brass', 'Carp', 'catfish', 'red Snapper', 'shark']

In [ ]:
# Copy method: copy() - returns a copy of the list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

myNewList  =  myFishList.copy()

print(myNewList)

myFishList[0] = "Pike"

print(myNewList)

In [ ]:
# Assigning to the same memory address of list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

myNewList  =  myFishList

print(myNewList)

myFishList[0] = "Pike"

print(myNewList)

List operations
---
Some basic operations that can be performed on lists.

---

In [ ]:
# Join two lists to create a new list

myFishList   = ["Carp", "Brass", "Salmon", "Red Snapper"]
myInsectList = ["Fly", "Beetle", "Ant", "Dragonfly"]

myFishingSet = myFishList + myInsectList

print(myFishingSet)

In [ ]:
# Multiply one list twice

myFishList   = ["Carp", "Brass", "Salmon", "Red Snapper"]

myFishingSet = myFishList * 2

print(myFishingSet)

In [ ]:
# Delete an entire list

myFishList = ["Carp", "Brass", "Red Snapper"]

del myFishList

3.2 Tuple
---
Tuples are used to store multiple values to a single variable. Once a tuple is created, it can not be changed, it is immutable. Tuples are ordered as they are defined and that order will not be changed. You can have duplicates. A tuple is enclosed in parentheses. It is also indexed like strings and lists, starting with index 0. Slicing is also applicable to Tuples to access a range of elements like strings.

---

Syntax:

        myTuple = (element 1, element 2, ..., element n)

        myTuple = (element 1,)

        myTuple = element 1, element 2, ..., element n

        myTuple = tuple()

Tuple declaration
---
You can declare or create a tuple using various ways.

---

In [ ]:
# Creating an empty tuple using parentheses

myEmptyTuple = ()

print("My empty tuple :", myEmptyTuple)
print(type(myEmptyTuple))

In [ ]:
# Creating an empty tuple using the constructor

myEmptyTuple = tuple()

print("My empty tuple :", myEmptyTuple)
print(type(myEmptyTuple))

In [ ]:
# Creating a tuple with one element

myTuple = ( 1, )

print(type(myTuple))

In [ ]:
# Creating a tuple with many elements and duplicates

myTuple = 1, 2, 3, 3

print(type(myTuple))
print(myTuple)

In [ ]:
# Creating tuple of multiple string values

myFirstTuple = ("Carp", "Anaconda", "Shark") # packing
print(myFirstTuple)

In [ ]:
# Unpacking tuple

myFirstTuple = ("Carp", "Anaconda", "Shark") # packing

(myFirstElement, mySecondElement, myThirdElement) = myFirstTuple  # unpacking

print(myFirstElement)
print(mySecondElement)
print(myThirdElement)

In [ ]:
# Creating a tuple with one item

myOneItemTuple = ("Anaconda",)
print(type(myOneItemTuple))

#THE FOLLOWING IS NOT A TUPLE, THIS IS A STRING

myNotTuple = ("Anaconda")
print(type(myNotTuple))

In [ ]:
# Tuple constructor: tuple() - constructor returns a copy of the tuple

mySecondTuple = tuple(("Wolf", "Rabbit"))

print(mySecondTuple)

Tuple indexing
---

A tuple is also indexed as strings and lists, starting with index 0.

---
Syntax:

        myTuple[index]

In [ ]:
# Access a tuple with the index

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

myAustralianTuple = ("Kangaroo", "Quokka", "Bandicoot")

print("This nocturnal marsupial omnivor lives in Australia :", myAustralianTuple[2])

Tuple slicing
---

A tuple can also be sliced as strings and lists, starting with index 0.

---
Syntax:

        myTuple[start index: end index]

In [ ]:
# Slice tuple with the index numbers

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

myMixedTuple  = (10, 11.0, 123, "Python", "A", -234.5, True, False, 1.23E-24)

print(myMixedTuple[:5])
print(myMixedTuple[-3:-1])

Tuple methods
---
These methods, when used on tuples, will result in an error: sort(), append(), insert(), copy(), extend(), pop(), clear(), reverse(), and remove(). This is because these methods attempt to alter the tuple, but it is immutable. There are, however, some methods that can be used on tuples.

---

In [ ]:
# Count method: count() - returns a number of repeated elements in the Tuple

myTestTuple = (1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 6)

print(myTestTuple.count(5))

In [ ]:
# Index method: index() - returns an index of the first occurence for the specified element

myTestTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(myTestTuple.index(4))

In [ ]:
# Immutability: try to append(), insert(), del() methods

myTestTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

#myTestTuple.append(10)    # AttributeError: 'tuple' object has no attribute 'append'
#myTestTuple.insert(0,10)  # AttributeError: 'tuple' object has no attribute 'insert'
#del myTestTuple[1]        # TypeError: 'tuple' object doesn't support item deletion
#myTestTuple[0] = 10       # TypeError: 'tuple' object does not support item assignment

print(len(myTestTuple))

In [ ]:
# Sorted function: sorted() - returns a sorted tuple

myTestTuple = (12, 2, 1, 4, -5, 6, -7, 8, 9)

print(sorted(myTestTuple))

Tuple operations
---
Some basic operations can be performed on tuples.

---

In [ ]:
# Join two tuples

myFishTuple   = ("Pike", "Bass", "Carp")
myMammalTuple = ("Blue Whale", "Orca", "Dolphin")

myAnimalTuple = myFishTuple + myMammalTuple

print(myAnimalTuple)

In [ ]:
# Multiply two tuples

myFishTuple   = ("Pike", "Bass", "Carp")

myAnimalTuple = myFishTuple * 2

print(myAnimalTuple)

In [ ]:
# Tuples with membership operators

myFishTuple   = ("Pike", "Bass", "Carp")

print("Carp" in myAnimalTuple)

In [ ]:
 # Delete the entire tuple

myFishTuple   = ("Pike", "Bass", "Carp")

del myFishTuple

3.3 Dictionary
---
A dictionary is an ordered mutable data collection that cannot have key duplicates. The items can be removed, changed, and added. Dictionaries store data using **key:value** pairs enclosed in curly braces. A dictionary key can be an integer, float, string, or boolean. Keys must be unique but the values can be duplicates. Dictionaries are ordered starting from Python version 3.6. The values in the dictionaries are indexed by keys.

---
Syntax:

        myDictionary = {key 1: value, key 2: value, ..., key n: value}

        myDictionary = {key: value}

        myDictionary = dict()

Dictionary declaration
---
You can declare or create dictionaries in various ways.

---

In [ ]:
# Declaring an empty dictionary

myEmptyDict = {}

print("My empty dictionary :", myEmptyDict)

In [ ]:
# Declaring an empty dictionary using a constructor

myEmptyDict = dict()

print("My empty dictionary :", myEmptyDict)

In [ ]:
# Adding a new item to the dictionary, [key] = value pair

myTestDictionary = {}

myTestDictionary["Occupation"] = "Student"
myTestDictionary["Name"]       = "Kirill"
myTestDictionary["Age"]        = 21

print(myTestDictionary)

In [ ]:
# Adding a new item to the dictionary with multiple values using one key

myTestDictionary = {}

myTestDictionary["Occupation"] = "Student"
myTestDictionary["Name"]       = "Kirill"
myTestDictionary["Age"]        = 21, 22, 23, 24, 99

print(myTestDictionary)

{'Occupation': 'Student', 'Name': 'Kirill', 'Age': (21, 22, 23, 24, 99)}

In [ ]:
# Declaring a dictionary with the key: multiple value elements

myFirstDictionary = {"Occupation":("Student", "Programmer"), "Name":"Kirill", "Age":(72,32,21)}

print(myFirstDictionary["Age"][1])              # getting the zero value of the "Age" key

print(list(myFirstDictionary.values())[0][1])   # getting the third value of the Age key

In [ ]:
# Dictionary constructor: dict() - returns a copy of the dictionary assigning key:value with  =

myFirstDictionary = dict(Occupation="Student", Name="Kirill", Age=25)

print(myFirstDictionary)

In [ ]:
# Dictionary constructor: dict() - returns a copy of the dictionary assigning key:value with  ,

myFirstDictionary = dict([("Occupation","Student"), ("Name","Kirill"), ("Age",25)])

print(myFirstDictionary)

In [ ]:
# Length function: len() - returns the length of a dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(len(myFirstDictionary))

In [ ]:
# Get the value of the key:  key:value

myFirstDictionary = dict(Name="Kirill", Age=25, Occupation="Student")

print(myFirstDictionary["Age"])

Nested dictionary
---
Dictionaries can have a nested structure. This means you can have dictionaries as values in other dictionaries.

---

In [ ]:
# Nested dictionary

myDictionary = {"planets":{1:"Mercury", 2:"Venus", 3:{"a":("Earth","Mars")}}, "stars":{"a":("Sun","Proxima"), "b":"Alpha"}}
#                                                    |--------------------|           |----------------------------------|
#                         |------------------------------------------------|
#              |----------------------------------------------------------------------------------------------------------|

#print(myDictionary)
#print(myDictionary["planets"])
#print(myDictionary["planets"][1])
#print(myDictionary["planets"][3]["a"][1])
#print(myDictionary["planets"][3]["a"][1][1:3])

print(myDictionary["stars"]["a"][0][0:3])
print(myDictionary["stars"]["b"][:])
#print(myDictionary["stars"]["b"][1:3])

#print(list(myDictionary.values()))
#print(list(myDictionary.values())[0][3]["a"][0])
#print(list(myDictionary.values())[1]["a"][1])
#print(list(myDictionary.values())[1]["b"])

Dictionary methods
---
There are some methods that can be used on dictionaries.

---

In [ ]:
# Get method: get() - access a dictionary value using the associated keyword

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.get("Age"))

In [ ]:
# Keys method: keys() - gets a list of keys

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.keys())

In [ ]:
# Values method: values() - gets a list of values

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.values())

In [ ]:
# Items method: items() - gets a list of key:value pairs

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.items())

In [ ]:
# Update method: update() - updates the dictionary with the key:value pair

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}
myFirstDictionary.update({"Age":33})

print(myFirstDictionary)

In [ ]:
# Pop method: pop() - removes the key:value pair from the dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

myFirstDictionary.pop("Name")

print(myFirstDictionary)

Dictionary operations
---
Some basic operations can be performed on dictionaries.

---

In [ ]:
# Delete an item from the dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

del myFirstDictionary["Age"]

print(myFirstDictionary)

In [ ]:
# Delete the entire dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

del myFirstDictionary

Note

---
A Python dictionary can be loaded from a JSON file. JSON stands for JavaScript Object Notation and it is a popular format for storing data on the web. Here is an example of such a file student.json

---

In [ ]:
# student.json

{
    "Name": "Mark",
    "Age": 21,
    "Occupation": "Student"
}

In [ ]:
# To load JSON file to the Python

import json

with open('student.json', 'r') as json_file:
  student = json.load(json_file)
print(student)

3.4 Set
---

A set is used to store multiple elements in a single variable.
It is an unordered, unchangeable, unindexed sequence. Every time
you access the set, the order of the elements may vary. Elements of a
set cannot be accessed by an index number. You cannot modify the
set, but you can remove or add elements. Duplicates are not allowed.

---

Syntax:

        mySet = {element 1, element 2, ..., element n}

        mySet = {element 1}

        mySet = set()

Set declarations
---
There are various ways to declare sets.

---

In [ ]:
# Creating an empty set - no curly braces - dictionary

myEmptySet = {}

print(type(myEmptySet))

In [ ]:
# Creating an empty set using a constructor

myEmptySet = set()

print("My empty set :", myEmptySet)
print(type(myEmptySet))

In [ ]:
# Create a set with multiple string values

myFishSet = {"Carp", "Bass", "Salmon", "Red Snapper", "Pike", "Perch"}

print(myFishSet)

In [ ]:
# Create a set with multiple string values using the constructor: set()

myFishSet = set(("Carp", "Bass", "Salmon", "Red Snapper"))

print(myFishSet)

In [ ]:
# Create a set with duplicates

myFishSet = {"Carp", "Bass", "Salmon", "Red Snapper", "Bass", "Bass", "Bass"}

print(myFishSet)

In [ ]:
# Create a set with boolean types and integers

myFirstSet = {"Carp", "Bass", "Red Snapper", "Bass", True, 1, 2}

print(myFirstSet)

In [ ]:
#Sets' data types

myFishSet    =  {"Carp", "Bass", "Red Snapper", "Salmon"}
myNumberSet  =  {1, 2, 3, 4, 5, 4, 6, 3, 21}
myBooleanSet =  {True, False, False, True,False}
myMixedSet   =  {"Carp", True, 23, 40, "Bass", "Salmon"}
myComplexSet =  {2+3j,   1+7j,   3+4j}

print(myFishSet)
print(myNumberSet)
print(myBooleanSet)
print(myMixedSet)
print(myComplexSet)

Set methods
---
There are some methods that can be used on sets.

---

In [ ]:
# Add method: add() - adding items to a set

myFishSet = {"Carp", "Bass", "Red Snapper"}
myFishSet.add("Salmon")
print(myFishSet)

In [ ]:
# Update method: update() - updating a set with another set

myFirstSet  = {"Carp", "Bass"}
mySecondSet = {"Red Snapper", "Salmon"}

myFirstSet.update(mySecondSet)

print(myFirstSet)

In [ ]:
# Update method: update() - updating a set with a list

myFirstSet   = {"Carp", "Bass"}
mySecondList = ["Red Snapper", "Salmon"]

myFirstSet.update(mySecondList)

print(myFirstSet)

In [ ]:
# Remove method: remove() - removes specified element(s) of a set

myFirstSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.remove("Carp")

print(myFirstSet)

In [ ]:
# Discard method: discard() - discards specified element(s) of a set

myFirstSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.discard("Red Snapper")

print(myFirstSet)

In [ ]:
# Pop method: pop() - removes an element of a string, you do not know which item gets removed

myFirstSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.pop()

print(myFirstSet)

In [ ]:
# Clear method: clear() - makes a set empty

myFirstSet  =  {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.clear()

print(myFirstSet)

In [ ]:
# Intersection method: intersection() - keeps only duplicate elements

myFirstSet   =  {"Carp", "Red Snapper"}
mySecondSet  =  {"Carp", "Bass", "Red Snapper", "Salmon"}

myThirdSet   =  myFirstSet.intersection(mySecondSet)

print(myThirdSet)

In [ ]:
# Intersection update method: intersection_update() - keeps only duplicate elements

myFirstSet  = {"Carp", "Bass", "Red Snapper", "Salmon"}
mySecondSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.intersection_update(mySecondSet)

print(myFirstSet)

In [ ]:
# Symmetric difference update method: symmetric_difference_update()

myFirstSet  = {"Carp", "Bass", "Red Snapper", "Salmon"}
mySecondSet = {"Red Snapper", "Salmon"}

myFirstSet.symmetric_difference_update(mySecondSet)

print(myFirstSet)

In [ ]:
# Symmetric difference method: symmetric_difference() - duplicates are excluded

myFirstSet  = {"Bass", "Red Snapper", "Salmon"}
mySecondSet = {"Carp", "Red Snapper", "Salmon"}

myThirdSet  = myFirstSet.symmetric_difference(mySecondSet)

print(myThirdSet)

In [ ]:
# Union method: union() - joints two sets while excluding duplicates

myFirstSet  =  {"Red Snapper", "Salmon"}
mySecondSet =  {"Carp", "Bass"}

myThirdSet  = myFirstSet.union(mySecondSet)

print(myThirdSet)

Set operations
---
Some basic operations can be performed on sets.

---

In [ ]:
#Set's length

mySecondSet = {"Carp", "Bass", "Red Snapper", "Salmon", "Bass"}
print(len(mySecondSet))

In [ ]:
# Deleting the entire set

myFishSet  =  {"Carp", "Bass", "Red Snapper", "Salmon"}

del myFishSet

3.5 Summary of data collections
---

  
    String          List        Tuple      Dictionary / Set

    immutable     mutable      immutable        mutable
    order/index order/index  order/indexed     unordered
    duplicates    duplicates   duplicates     noduplicates
      "   "        [   ]        (  )       {   } / {*}, set()
      str()        list()      tuple()       dict() / set()

    {*} - A set can not be declared with empty braces

# Section 4: Control flow

4.1 if ... statements

4.2 For loops

4.3 While loops

4.1 if ... statements
---
The if statement is used to check against some conditions along the code. There are three forms of the if statements in Python that can be used: if, if ... else, if ... elif ... else.

---

Syntax:

        if condition: block of code

        if condition: block of code else: block of code

        if condition: block of code elif condition: block of code else: block of code

if ... statement
---
The if statement is used to check against some conditions along the code.

---

![IF_STATEMENT_001.png]()

if ... statement in its basic form
---
Here are a few examples of the if ... statements.

---

In [ ]:
# If statement in two lines

if True:
  print ("Hello, World!")

In [ ]:
# If statement in one line

if True: print("Hello, World!")

In [ ]:
# If statement with the value of 1

if 1: print("Hello, World!")

In [ ]:
# If statement with the value of 0

if not 0: print("Hello, World!")

In [ ]:
# To reserve the if statement while you are writing a program

if True: pass

if ... statement with comparison operators
---
The if statements are used to check against some conditions along the code. Here a few examples of the if ... statement with comparison operators.

---

In [ ]:
# A simple example of an if statement with a comparison operator
# Comparison operators: ==, !=, >, <, >=, <=

myVariable = 5

if myVariable == 5: print("My integer variable is :", myVariable)

In [ ]:
# A simple example of an if statement with a comparison operator
# Comparison operators: ==, !=, >, <, >=, <=

myVariable = -5

if myVariable != 5: print("My integer variable is :", myVariable)

In [ ]:
# A simple example of an if statement with a comparison operator
# Comparison operators: ==, !=, >, <, >=, <=

myFirstVariable = 10

if (myFirstVariable > 9.9): print("True")

if ... statement with arithmetic, comparison, and assignment operators
---
You can use arithmetic, comparison, and assignment operators within if ... statements to create conditional logic. Here are examples of if ... statements with arithmetic, comparison, and assignment operators.

---

In [ ]:
# if ... statements with arithmetic ( % ) and comparison ( == ) operators

myFirstVariable  = 20

if ( myFirstVariable % 2 == 0 ): print("myFirstVariable is an even number" )

In [ ]:
# if ... statements with arithmetic ( // ) and comparison ( == ) operators

mySecondVariable = 19

if (mySecondVariable // 2 == 9): print("Floor division rounds the result down to the nearest whole number")

In [ ]:
# if ... statements with arithmetic ( ** ), comparison ( >= ), and walrus ( := ) operators

mySecondVariable = 2

if ((myTest := mySecondVariable ** 8) >= 256): print ("Exponentiation test :", myTest)

Exponentiation test : 256

if ... statement with arithmetic, comparison, and logical operators
---
 You can use arithmetic, comparison, and logical operators within if ... statements to create conditional logic, based on mathematical operators. Here are examples of if ... statements with arithmetic, comparison, and logical operators.

---

In [ ]:
# if ... statements with arithmetic ( % ), comparison ( == ), and logical ( and ) operators

myFirstVariable = 20
mySecondVariable = 40

if (myFirstVariable % 2 == 0 and mySecondVariable % 2 == 0 ): print("Both conditions must be True")

In [ ]:
# if ... statements with arithmetic ( % ), comparison ( == ), and logical ( or ) operators

myFirstVariable = 20
mySecondVariable = 41

if (myFirstVariable % 2 == 0 or mySecondVariable % 2 == 0 ): print("One condition is sufficient to be True")

In [ ]:
# if ... statements with arithmetic ( % ), comparison ( == ), and logical ( not ) operators

myFirstVariable = 20

if (not myFirstVariable % 2 == 1): print ("The condition is reversed")

Nested if ... statement
---
The nested if statement allows you to check multiple conditions within one condition. Here's an example of a nested if ... statement.

---

In [ ]:
# Nested if statements

myFirstVariable  = 10
mySecondVariable = 20
myThirdVariable  = 30

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)
  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)
    if (myThirdVariable == 30):
      print("My third variable is :", myThirdVariable)

if ... else statement
---
The if ... else statements are used to check against some conditions along the code. The else statement is executed when condition in the if statement is not met.

---

![ALL_STATEMENTS_002.png]()

if ... else statement with comparison operators
---
Here are a few examples of if ... else statements.

---

In [ ]:
# Equal to comparison operator: ==

myFirstVariable  = 0.0
mySecondVariable = 1.0

if myFirstVariable == mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Not equal to comparison operator: !=

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable != mySecondVariable:
  print("First condition is True")
else:
  print("First condition is False")

In [ ]:
# Greater than comparison operator: >

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable > mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Less than comparison operator: <

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable > mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Greater than or equal to comparison operator: >=

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable >= mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Less than or equal to comparison operator: <=

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable <= mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Short hand example 1

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable <= mySecondVariable: print("First condition is True")
else: print("First Condition is False")

In [ ]:
# Short hand example 2

myFirstVariable  = 1.0
mySecondVariable = 2.0

print("True") if myFirstVariable == mySecondVariable else print("False")

In [ ]:
# Short hand example 3

myFirstVariable  = 1.0
mySecondVariable = 2.0

print("True") if myFirstVariable <= mySecondVariable and myFirstVariable > 0 else print("False")

In [ ]:
# Short hand example 4

myFirstVariable  = 1.0
mySecondVariable = 2.0

print("True") if (myTestVariable:= myFirstVariable + 2.0) <= mySecondVariable and myFirstVariable > 0 else print("False")

if ... else statement with arithmetic and comparison operators
---
You can use arithmetic and comparison operators within the if ... else statements to create conditional logic, based on mathematical operations and comparisons.

---

In [ ]:
# if ... else statements with arithmetic ( + ) and comparison ( == ) operators

myFirstVariable = 10

if (myFirstVariable + myFirstVariable == 5): print("The value is 5")
else: print("The value is 10")

In [ ]:
# if ... else statements with arithmetic ( % ) and comparison ( == ) operators

myFirstVariable = 10

if (myFirstVariable % 2 == 0): print("My variable is an even number")
else: print("My variable is an odd number")

In [ ]:
# if ... else statements with arithmetic ( // ) and comparison ( == ) operators

myFirstVariable = 52

if (myFirstVariable // 10 == 1): print("Floor division rounds the result down to the nearest whole number")
else: print("The result of the floor division is another number :", myFirstVariable // 10)

if ... else statement with arithmetic, comparison, and logical operators
---
You can use arithmetic, comparison and logical operators within the if ... else statements to create conditional logic, based on mathematical operations and comparisons.

---

In [ ]:
# if ... else statements with arithmetic ( % ), comparison ( == ), and logical ( and ) operators

myFirstVariable  = 10.0
mySecondVariable = 20.0

if (myFirstVariable % 2 == 0 and mySecondVariable % 2 == 0):
  print("Both conditions are True")
else:
  print("One of these conditions is False ")

In [ ]:
# if ... else statements with arithmetic ( + ), comparison ( > ), and logical ( or ) operators

myFirstVariable  = 10.0
mySecondVariable = 20.0

if (myFirstVariable + mySecondVariable > 20.0 or mySecondVariable > 20.0):
  print("One of these conditions is True")
else:
  print("None of these conditions is True")

In [ ]:
# if ... else statements with arithmetic ( * ), comparison ( == ), and logical ( not ) operators

myFirstVariable =  2.0
myThirdVariable = 20.0

if not myFirstVariable * 100 == myThirdVariable:
  print("This condition is True")
else:
  print("The condition is False")

Nested if ... else statement
---
 Nested if ... else statements allow you to create more complex conditional logic and test multiple conditions in your code. Here are two examples of nested if ... else statements.

---

In [ ]:
# Nested if ... else statement

myFirstVariable  = 10
mySecondVariable = 30

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)

  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)

  else:
    print("My second variable is :", mySecondVariable)

In [ ]:
# Nested if ... else statement

myFirstVariable  = "A"
mySecondVariable = "B"

if (myFirstVariable == "A"):
  print("My first variable is :", myFirstVariable)

  if (mySecondVariable == "B"):
    print("My second variable is :", mySecondVariable)

  else:
    print("My second variable is :", mySecondVariable)

else:
  print("My first variable is :", myFirstVariable)

if ... elif ... else statement
---

The if ... elif ... else statement allows you to test multiple conditions and execute different code blocks based on the results of these conditions.

---

![IF_STATEMENTS_ALL.png]()

if ... elif ... else statement with comparison operators
---
Here are some examples of the if ... elif ... else statements with comparison operators.

---

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( < ) operators
# First condition is true

myFirstVariable  = "A"
mySecondVariable = "B"

if ( myFirstVariable == "A" ):
  print("First condition is True")

elif ( myFirstVariable < mySecondVariable ):
  print("Second condition is True")

else:
  print("All conditions are False")

print ("Out of if ... statement")

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( < ) operators
# Second condition is true

myFirstVariable  = "a"
mySecondVariable = "b"

if ( myFirstVariable == "A" ):
  print("First condition is True")

elif ( myFirstVariable < mySecondVariable ):
  print("Second condition is True")

else:
  print("All conditions are False")

print ("Out of if ... statement")

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( < ) operators
# All conditions are false, executing the else statement

myFirstVariable  = "a"
mySecondVariable = "a"

if ( myFirstVariable == "A" ):
  print("First condition is True")

elif ( myFirstVariable < mySecondVariable ):
  print("Second condition is True")

else:
  print("All conditions are False")

print ("Out of if ... statement")

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( > ) operators

myFirstVariable  = -1
mySecondVariable = 2

if ( myFirstVariable ==  0 ):
  print("My first variable equals to zero")

elif ( myFirstVariable > 1 ):
  print("My first variable is greater than one")

elif ( myFirstVariable == mySecondVariable ):
  print("My first variable is equal to my second variable")

else:
  print("My first variable is less than zero")

if ... elif ... else statement with comparison and logical operators
---
Here's an example of the if ... elif ... else statement with comparison and logical operators.

---

In [ ]:
# if ... elif ... else statements with comparison ( == ), ( > ), and (>=) and logical ( and ), ( or ), and ( not ) operators

myFirstVariable  = 2
mySecondVariable = 2

if ( myFirstVariable == mySecondVariable and myFirstVariable < 0 ):
  print("Both conditions must be True")

elif ( myFirstVariable > mySecondVariable or myFirstVariable > 2):
  print("Only one condition must be True")

elif ( not myFirstVariable >= mySecondVariable ):
  print("One condition should be True")

else:
  print("All conditions are False")

Nested if ... elif ... else statement
---
Nested if ... elif ... else statements are used to create more complex and nested conditional logic along the code. Here's an example of a nested if ... elif ... else statement.

---

In [ ]:
# Nested if ... elif ... else statements with comparison operators

myFirstVariable  = 1
mySecondVariable = 2
myThirdVariable  = 3

if ( myFirstVariable < mySecondVariable ):

    if ( myFirstVariable > myThirdVariable):
      print("My first variable is < my second variable but > my third variable")

    elif ( myFirstVariable == myThirdVariable):
      print("My first variable is < my second variable but == to my third variable")

    elif ( myFirstVariable < myThirdVariable):
      print("My first variable is < my second variable and < my third variable")

elif ( myFirstVariable == mySecondVariable):
  print("My first variable is == to my second variable")

else:
  print("My first variable is greater than my second and my third variables")

4.2 For loops
---
A for loop is an iterative function that allows you to iterate over a data sequence. There are two keywords in the for loop structure: "for" and "in". The for loop statement will access each element of the sequence at each iteration. The loop will continue iterating until it reaches the last element of a sequence.

---

Syntax:

        for variable in iterable: block of code

For loop
---
Here are some examples of for loop declarations and basic forms.

---

In [ ]:
# A for loop example with a dummy pass statement

for i in range(10): pass

In [ ]:
# A for loop example with range function

for i in range(10): print(i, end = " ")

In [ ]:
# A for loop example using my fish list

myFishList = ["Bass", "Red Snapper", "Karp", "Pike", "Perch"]

for name in myFishList: print(name, end = "; ")

For loop with no elements
---
Here's an example of a for loop with no elements. It is a convention to use an underscore as a variable name when you would like to iterate over a sequence, but do not want to use the individual elements.

---

In [ ]:
# No items in the loop

myNumberList = range(3)

for _ in myNumberList:
  print("Hello World!")

For loops with data sequences
---
For loops are commonly used to iterate over data sequences like strings, lists, tuples, dictionaries, and sets. The for loop allows you to perform specific operations for each element in the sequence. Here are a few examples of for loops with data sequences.

---

In [ ]:
# A for loop with a string

for i in "Bootcamp, May 23rd, 2023":
  print (i, end=" ")

In [ ]:
# A for loop with a number list sequence

myListSequence = [ 1, 2, 3, 4, 5 ]

for i in myListSequence:
  print(i, end = " ")

In [ ]:
# A for loop with a number tuple sequence

myTupleSequence = ( 1, 2, 3, 4, 5 )

for i in myTupleSequence:
  print(i, end = " ")

In [ ]:
# A for loop with a dictionary's keys

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence:
  print(i, end = " ")

In [ ]:
# A for loop with a dictionary's values

myDictionary = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionary:
  print(myDictionary[i], end = " ")

In [ ]:
# A for loop with a set sequence

mySetList = { 1, 2, 3, 4, 5 }

for i in mySetList:
  print(i, end = " ")

Dictionary methods with For loops
---
You can iterate through dictionaries using keys, values, or key-value pairs.

---

In [ ]:
# A for loop with the dictionary keys method: keys()

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence.keys():
  print(i, end = " ")

In [ ]:
# A for loop with the dictionary values method: values()

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence.values():
  print(i, end = " ")

In [ ]:
# A for loop with the dictionary items method: items()

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence.items():
  print(i, end = " ")

For loop with else statement
---
You can use else statements with a for loop to specify a block of code that should be executed after the loop has completed.

---

In [ ]:
# For loop with else statement

myNumberList = [ 1, 2, 3, 4, 5 ]

for i in myNumberList:
  print(i, end = " ")
else:
  print("\nThis sequence is over!")

For loop with break, continue, and pass statements
---
Break statements break out of the loops immediately. Continue statements proceed with the execution of the loop. A pass statement does nothing.

---

In [ ]:
# A for loop with a break statement

myFirstList = [ 1, 2, 3, 4, 5]

for i in myFirstList:
  if i == 3:
    break
  print("i = ", i)

In [ ]:
# A for loop with an arithmetic % operator and a continue statement

myFirstList    = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]

for i in myFirstList:
  if i % 2 == 0:
      continue
  print (str(i)," ")

In [ ]:
# A for loop with an arithmetic % operator and a pass statement

myFirstList    = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]

for i in myFirstList:
  if i % 2 == 0:
      pass
  print (str(i)," ")

Nested For loop
---
A nested for loop is a loop inside another. It allows one to iterate through a multi dimentional list or matrix. Here'a an example of the nested for loop.
The outer loop iterates from 1 ... 3 values and for each value of the outer loop, the inner loop iterates from 1 ... 3.

---

In [ ]:
# A nested for loop

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  for j in mySecondList:
    print (str(i),str(j)," ")

Nested for loop with break statements
---
The break statement terminates the innermost loop and passes control to the outer loop.

---

In [ ]:
# A nested for loop with an innermost break statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  for j in mySecondList:
    if j == 3:
      break
    print (str(i),str(j)," ")

In [ ]:
# A nested for loop with an outer break statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  if i == 3:
      break
  for j in mySecondList:
    print (str(i),str(j)," ")

Nested for loop with continue statements
---
The continue statement skips the current execution in the for loop.

---

In [ ]:
# A nested for loop with an innermost continue statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  for j in mySecondList:
    if j == 3: continue
    print (str(i),str(j)," ")

In [ ]:
# A nested for loop with an outer continue statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  if i == 2: continue
  for j in mySecondList:
    print (str(i),str(j)," ")

Nested for loop with pass statements
---
The pass statement does not have any effect on the current execution in the for loop.

---

In [ ]:
# Nested for loop with outermost pass statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  if i == 2:
    pass
  for j in mySecondList:
    print (str(i),str(j)," ")

For loops using list comprehension
---
List comprehension is a fast way of creating lists, sets and dictionaries. It can also be used as a data filter. It is easier to read and understand.

---

![Presentation_list.png]()

In [ ]:
# List comprehension

myNumberList = [myNum for myNum in range(1,6)]

print(myNumberList)

In [ ]:
# A regular for loop, which is analogous to the list comprehension

myNumberList = []

for myNum in range(1,6):
  myNumberList.append(myNum)

print(myNumberList)

In [ ]:
# A list comprehension example

myNumberList = [ myNum + 10  for myNum in range(0,10) if myNum % 2 == 0]

print(myNumberList)

In [ ]:
# A regular for loop, which is analogous to the list comprehension

myNumberList = []

for myNum in range(0,10):

    if myNum % 2 == 0:
      myNumberList.append(myNum + 10)

print(myNumberList)

List comprehension with nested for loops
---
List comprehension is a concise tool used to create lists. Here are a few comparisons you can use list comprehensions to create some lists.

---

In [ ]:
# List comprehension with nested for loops

myNumberList = [ n for m in range(0,3) for n in range(0,3)]

print(myNumberList)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
# Regular for loop, which is analogous to the list comprehension

myNumberList = []

for m in range(0,3):
  for n in range(0,3):
    myNumberList.append(n)

print(myNumberList)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
# List comprehension with nested for loops: m x n matrix

myMatrixList = [ [m for m in range(0,3)] for n in range(0,3)]

print(myMatrixList)

In [ ]:
# Regular for loop, which is analogous to the list comprehension: m x n matrix

myMatrixList = []

for m in range(0,3):
  myTempList = []
  for n in range(0,3):
    myTempList.append(n)
  myMatrixList.append(myTempList)

print(myMatrixList)

For loops using dictionary comprehension
---
Dictionary comprehension is a fast way of creating dictionaries in consice and readable way. It can also be used as a data filter. It is easier to read and understand. The syntax of the dictionary comprehension is similar to that of list comprehension.

---

![Presentation_dictionary.png]()

In [ ]:
# Dictionary comprehension

newDictionary = { myNum: myNum + 10    for myNum in range(1,15)   if myNum * myNum % 2 == 0 }

print(newDictionary)

In [ ]:
# Regular for loop, which is analogous to the list comprehension

newDictionary = {}

for myNum in range(1,15):
  if ( myNum * myNum % 2 == 0 ):
    newDictionary[myNum] = myNum + 10

print(newDictionary)

For loops using set comprehension
---
Set comprehension is a fast way of creating sets. It is easier to read and understand. It can also be used as a data filter.

---

In [ ]:
# A set can be created with the set comprehension in Python

mySetList = { myNum + 2 for myNum in range(1,6)}
print(mySetList)

In [ ]:
# Regular for loop, which is analogous to the list comprehension

newSet = set()

for myNum in range(1,6):
    newSet.add(myNum + 2)

print(newSet, sep=",", end="")

For loops using tuple comprehension
---
There is no tuple comprehension in python.

---

In [ ]:
# There is no tuple comprehension in Python

myTupleList = ( myNum for myNum in range(1,6))
print(myTupleList)

In [ ]:
# Mimmiking the tuple comprehension

myTupleList = tuple( myNum + 2 for myNum in range(1,6))
print(myTupleList)

For loop using the built-in functions
---
You can employ built-in functions with for loops to perform various operations on data sequence.

---

In [ ]:
# For loop is built with the len() and range() functions

myNumberList = [ 1, 2, 3, 4, 5 ]

for number in range(len(myNumberList)): print(myNumberList[number], end = " ")

4.3 While loops
---
While loop executes a block of code as long as condition is True.

---

Syntax:

        while condition: block of code

In [ ]:
# While loop with pass statement

while False: pass

In [ ]:
# While loop with pass statement

while 0: pass

In [ ]:
# Infinite while loop with pass statement

while 1: pass

In [ ]:
# Infinite while loop with print statement

while True: print("Infinite loop")

In [ ]:
# While loop statement with comparison operator: <

myFirstVariable = 5
i = 0

while i < myFirstVariable:
  print(i, end=" ")
  i += 1

In [ ]:
# While loop statement with comparison operator: <=

myFirstVariable = 5
i = 0

while i <= myFirstVariable:
  print(i, end=" ")
  i += 1

While loop with the break, continue, and pass statements
---
Break statement breaks out of the loops immediately going to the next statement. Continue statement returns execution to the beginning of the while loop. Pass statement does not do anything.

---

In [ ]:
# While loop statement if comparison operator ( < ) and break statement

myFirstVariable = 5
i = 0

while i < 5:
  print(i)
  if i == 3:
    break     # stops the loop even with the while condition is being true
  i += 1

In [ ]:
# While loop statement if comparison operator ( < ) and continue statement

myFirstVariable = 5
i = 0

while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
# While loop statement if comparison operator ( < ) and break statement

myFirstVariable = 5
i = 0

while i < 5:
  i += 1
  if i == 3:
    pass
  print(i)

While loop with else statement
---

In [ ]:
# While loop statement with else statement

myFirstVariable = 5
i = 0

while i < 5:
  print(i)
  i += 1
else:
  print("i is not less than 5 anymore")

Nested While loops
---

In [ ]:
# Nested while loops

myFirstVariable = 5
i, j = 0, 0

while i < 5:
  print(i)
  i += 1
  while j < 5:
    print(j)
    j += 1

Nested While loop with break statement
---

In [ ]:
# Nested while loops with brake statements

myFirstVariable = 5
i, j = 0, 0

while i < 5:
  print(i, j)
  i += 1
  while j < 5:
    j += 1
    if j == 2:
      break
    print(i,j)
else:
  print("i is no longer less than 5")

Nested While loop with continue statement
---

In [ ]:
# Nested while loops with continue statement

i, j = 0, 0

while i < 3:
  print(i, j)
  i += 1
  while j < 3:
    j += 1
    if j == 2:
      continue
    print(i,j)
else:
  print("i is no longer less than 5")

Nested While loop with pass statement
---

In [ ]:
# Nested while loops with else statements

myFirstVariable = 5
i, j = 0, 0

while i < 5:
  print(i,j)
  i += 1
  while j < 5:
    print(i,j)
    j += 1
  else:
    pass
else:
  print("i is no longer less than 5")

# Section 5: Functions

5.1 User defined functions

5.2 Global and local variables

5.3 Parameters vs arguments

5.4 Recursive functions

5.5 Lambda functions

5.6 Function annotations

5.1 User-defined functions
---
Function is a block of orginized code to perform a specific action. Python language provides many built-in functions like print(), len(), range(), and ... However, you can create your own functions that are usually called user-define functions. Functions help to improve readability and usageability of your code.
Python reads the program from top to bottom and you need to define a function before yuo can use it. There are a few rules to define a function.

1. A function declared using the def keyword following by a function name and parenthesis, and ending with a column.
2. Parameters can be placed inside of the parenthesis.
3. The code block or multiple statements should be indented.
4. The return statement will exit the function and pass a result to the caller.value

---

Syntax:

        def functionName(parameters): block of code / return value

Basics of user-defined functions
---
User-defined functions are created by a user to perform some specific tasks. You can organize your **code** in a clear and constractive manner.

---

In [ ]:
# Defining an empty function

def myEmptyFunction(): # Function definition
    pass

In [ ]:
# Defining a function

def myFirstFunction():
    pass               # Body statement

In [ ]:
# Defining a function and making a call

def myFirstFunction():
    pass

myFirstFunction()        # Function call

In [ ]:
# Defining function with the body statement making a call

def myFirstFunction():    # Function definition
  print("Hello World!")   # Body statement

myFirstFunction()         # Function call

Function with the return statement
---
The return statement inside of a function will terminate the function execution and return to the calling position with some return value. The return value can be any data type including int, float, complex data, data sequencies,
and user-defined objects like classes and functions.

The return value can be omited or you can have a single return statement.

---

In [ ]:
# Defining function with a return statement

def myTestFunction(): return

myTestFunction()

In [ ]:
# Defining function with an explicit return statement

def myFirstFunction():
  print("Before the return statement")
  return
  print("After the return statement")

myFirstFunction()

Before the return statement

In [ ]:
# Defining function with an explicit return value in one line

def myFirstFunction(): return 2 + 3

print(myFirstFunction())

In [ ]:
# Returning a list of values using list comprehension

def myListFunction(myNumberList):
  myNumber = [i for i in myNumberList if i % 2 == 0]
  return myNumber

myNumberList = [ 1, 2, 3, 4, 5, 6, 7, 8]

print(myListFunction(myNumberList))

5.2 Global and local variables
---
Global variables are declared outside of any functions and have global scope, meaning that they can be accessed from any function or a statement.
Local variables are defined only inside of a function and have a local scope,
they valid only inside and can not be accessed from outside.

---

In [ ]:
# Global variable is defined outside of a function

myGlobalVariable = "cool!"

def myTestFunc():
  print("Python is " + myGlobalVariable)

myTestFunc()

In [ ]:
# Local variable is defined inside of a function

def myTestFunc():
  myLocalVariable = "cool!"
  print("Python is " + myLocalVariable)

myTestFunc()

In [ ]:
# Global and local variables

def myTestFunc():
  myLocalVariable = "fantastic"
  print("Python is " + myGlobalVariable + "!" + "- from function")
  print("Python is " + myLocalVariable  + "!" + "- from function")

myGlobalVariable = "awesome"

myTestFunc()

#print("Python is " + myLocalVariable)

In [ ]:
# If global and local variables are defined with the same name

def myTestFunc():
  myVariable = "fantastic"
  print("Python is " + myVariable + "!" + " - from function")

myVariable = "awesome"

myTestFunc()

print("Python is " + myVariable)

In [ ]:
# How can you create a global variable in the local scope, inside of a function

def myTestFunc():
    global myLocalVariable

    myLocalVariable = "fantastic"

    print("Python is " + myGlobalVariable + "!" + " from function")
    print("Python is " + myLocalVariable  + "!" + " from function")

myGlobalVariable = "awesome"

myTestFunc()

print("Python is " + myLocalVariable + "!")

In [ ]:
# If global variable needs to be modified

def myTestFunc():
  global myVariable
  myVariable += " fantastic"    # Remember the assignment operator x = x + value
  print("Python is " + myVariable + "!" + " - from the function")

myVariable = "awesome"

myTestFunc()

print("Python is " + myVariable)

5.3 Parameters vs arguments
---
A parameter placed inside of the parentheses when function is defined. Parameter is accessible only inside the function and argument can be accessible from anywhere in the program. An argument passed to the function when function is called. The shorthand notation for the arguments is args and for the keyword arguments is kwargs.  You can call a function with the following arguments:

* Positional arguments;
* Keyword arguments;
* Mixed arguments - a mix of positional and keyword arguments.

It is also important to provide the same number of arguments as defined in the parameter field of a function.

---

Syntax:

      1. def  functionName(param 1, param 2, ..., param n): block of code
              call functionName(arg 1, arg 2, ..., arg n)

      2. def  functionName(param 1, param 2, ..., param n): block of code
              call functionName(arg 1 = val 1, arg 2 = val 2, ..., arg n = val n)

      3. def  functionName(param 1, param 2, ..., param n): block of code
              call functionName(arg 1, arg 2 = val 2, ..., arg n = val n)

Positional arguments
---
Positional arguments are characterized by their positional order. The positional order is important when you pass arguments to a function. Here are a few examples with positional order of arguments.

---

In [ ]:
# Functions with one positional argument

def mySecondFunction(PersonName):
  print(PersonsName)

mySecondFunction("Olaf")
mySecondFunction("Kalfeoie")

In [ ]:
# Functions with two positional arguments

def myThirdFunction( myFirstName, mySecondName ):
  print(myFirstName + "  " + mySecondName)

myFirstName  = "Olaf"
mySecondName = "Kalfeoie"

myThirdFunction(myFirstName, mySecondName)

In [ ]:
# Functions with three positional arguments

def myThirdFunction( myFirstName, mySecondName, phoneNumber ):
  print(myFirstName + "  " + mySecondName + "  " + phoneNumber)

myFirstName  = "Olaf"
mySecondName = "Kalfeoie"
phoneNumber  = "1231234-1234"

myThirdFunction(myFirstName, mySecondName, phoneNumber)

Keyword arguments
---
The keyword arguments can be placed in any order. The order of keyword arguments
does not matter. Only names of arguments are important and subject to check.

---

In [ ]:
# Keyword arguments with the key = value format in positional order

def myRegularFunction(name1, name2, name3):
  print(name1, name2, name3)

myRegularFunction(name1="Olaf", name2="Holiaf", name3="Linux")

In [ ]:
# Function with various key = value arguments without positional order

def myRegularFunction(name3, name1, name2):
  print(name1, name2, name3)

myRegularFunction(name2="Holiaf", name3="Linux", name1="Olaf")

In [ ]:
# Function with the keyword arguments without a positional order

def myAddFunction(numOne, numTwo):
  return numOne + numTwo

print ( myAddFunction(numTwo = 25, numOne = 5) )

Mixed arguments - a mix of positional and keyword arguments
---
The rule of thumb, all the positional arguments should go before the keyword arguments.

---

In [ ]:
# Functions with positional and keyword arguments

def myMixArgsFunction(firstVar, secondVar, thirdVar):
  print("Mixed arguments :", firstVar," ", secondVar," ", thirdVar)

myMixArgsFunction(2, thirdVar = 12, secondVar = 3)

In [ ]:
# Functions with positional and keyword arguments

def myMixArgsFunction(firstVar, secondVar, thirdVar):
  print("Mixed arguments :", firstVar," ", secondVar," ", thirdVar)

myMixArgsFunction(2, 12, secondVar = 3)

Functions with arbitrary number of arguments
---
The *args is a convention in Python when a number of arguments to be passed to the function is unknown. The *args parameter allow to pass a variable number of positional arguments to the function. The wildcard * in front of args word makes the parameter iterable.

---

In [ ]:
# Arbitrary number of arguments (*args), receives a tuple of arguments

def myFifthFunction(*args):
  print(args)

myFifthFunction("Olaf", "Stella", "Klaus", "Kontrate")

Functions with arbitrary number of keyword positional arguments
---
To accept an arbitrary number of key word arguments one needs to use **kwarg syntax. The double asterisk is used to indicate that the function can accept multiple key word arguments.

___

In [ ]:
# Arbitrary number of keyword arguments (**kwargs)

def myTestFunction(**kwargs):
  print(kwargs, end=" ")

myTestFunction(num1 = 1, num2 = 2, num3 = 3, num4 = 4)

In [ ]:
# Arbitrary number of keywords arguments

def myRegularFunction(**kwargs):
  print(kwargs)

myRegularFunction(myFirstName = "Oleaf", myLastName="Kwwiec", myMiddleName = "Komntras")

Functions with arbitrary number of positional arguments and keyword arguments
---
It is also possible to create a function that will accept an arbitrary number of positional arguments and an arbitrary number of key word arguments. This function will collect the positional arguments into a tuple and key word arguments into a dictionary.

___

In [ ]:
# Arbitrary number of arguments (*args) and keyword arguments (**kwargs)

def myTestFunction(*args, **kwargs):
  print(args, kwargs, end=" ")

myTestFunction(1, 2, 3, num1 = 1, num2 = 2, num3 = 3, num4 = 4)

Functions with default parameters
---
Functions can be defined (created) with default parameters that are the values that parameters can accept by default if arguments are not provided.

---

Syntax:

           def  functionName(param 1, param 2 = val 2, ..., param n = value n): block of code
           call functionName(arg 1, arg 2, ..., arg n)

---

In [ ]:
# Functions with default parameters

def myRegularFunction( myVar1, myVar2 = 0.34, myVar3 = 10 ):
  print(myVar1," ", myVar2," ", myVar3)

myRegularFunction(0.1)
myRegularFunction(0.1, 0.22)
myRegularFunction(0.1, 0.22, 123456)

5.4 Recursive functions
---
The recursive functions is when a function is referring to itself.

---

![Presentation_recursive.png]()

In [ ]:
# Recursive function - can call itself (5! = 1*2*3*4*5)

def myRecursiveFunction(x):
  """ This is a recursive function to find a fuctorial"""
  if x ==1:
    return 1;
  else:
    return (x * myRecursiveFunction(x-1))

x = 5
print("The factorial of x", x, "is", myRecursiveFunction(x))

Functions with data sequences passed as arguments
---
One can create functions to accept the data sequences. This allows to perform
operations on the data sequences within a function. Here are a few examples with list, dictionary, tuple, and set.

In [ ]:
# Functions with a list as an argument

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = [ "Carp", "Bass", "Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe" ]

myFishFunction(fish)

In [ ]:
# Functions with a dictionary as an argument, key values by default, fish.values(), fish.items().

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = { "Carp":1, "Bass":2, "Red Snapper":3, "Labeo culbasu":4, "Chanda Nama":5, "Ruffe":6 }

myFishFunction(fish)

In [ ]:
# Functions with a tuple as an argument, key values by default, fish.values(), fish.items().

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = ( "Carp", "Bass", "Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe" )

myFishFunction(fish)

In [ ]:
# Functions with a set as an argument

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = { "Carp", "Bass", "Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe" }

myFishFunction(fish)

Modyfing a list inside of the function
---
The data sequence can be modified inside of the function.

---

In [ ]:
# Some examples with the list

def myListFunction(lst):
  del lst[2]                              # deleting number 3 from the list
  print("List after deleting the second index", lst)

lst = [1, 2, 3, 4, 5]

print( "My list before the deletion", lst )
myListFunction(lst)
print( "My list after the deletion",  lst )

5.5 Lambda function
---
Lambda function is a function that does not have a function name. A lambda function can take any number of arguments but can have only one expression.

---

Syntax:

        lambda variable: one expression

In [ ]:
# A lambda function can take any number of arguments but have only one expression
# lambda arguments : expression

myLambdaFunction = lambda myVar: myVar + 10.0
print(myLambdaFunction(10))

In [ ]:
# A lambda function with multiple arguments

myLambdaFunction = lambda myVar1, myVar2 : myVar1 * myVar2
print(myLambdaFunction(64, 256))

In [ ]:
# A lambda function with multiple arguments

myLambdaFunction = lambda myVar1, myVar2, myVar3 : (myVar1 + myVar2)/myVar3

print(myLambdaFunction(0.3, 0.4, 1.23))

5.6 Function annotations
---
Function annotations are optional and can be used for parameters and return values. It is a way of connecting some function expressions and other parts of functions. Annotation is always preceding the parameter's default value. Columns are used to define an annotation. Annotation for the excess parameters are also used as args and kwargs. Lambda function does not support annotations.

---

Syntax:

      1. def functionName(a: expression, b: expression):
      2. def functionName() -> expression
      3. def functionName(*args: expression, **kwargs: expression)

Return value annotation
---
You can see the -> operator in some functions, which is the return value annotation. It is optional, it is just for information only and makes no difference for the interpreter.

---

Syntax:

        def functionName(parameter) -> type:
          block of code
          return value

In [ ]:
# Return value annotation with integer type

def myIntFunction(myVal1: int, myVal2: int) -> int:
  return (myVal1 * myVal2)

print(myIntFunction(1,2))

In [ ]:
# Return value annotation with float type

def myFloatFunction(myVal1: float, myVal2: float) -> float:
  return (myVal1 * myVal2)

print(myFloatFunction(1.1, 2.4))

In [ ]:
# Return value annotation with str type

def myStrFunction(myVal1: str, myVal2: str) -> str:
  return (myVal1 + myVal2)

print(myStrFunction("***", "*****"))

In [ ]:
# To annotate the list return type you can use the return value annotation.

def myListFunction() -> list[str]:
   myList=[1,2,3,4,5]
   return myList

myList=myListFunction()
print(myList)

In [ ]:
# To annotate the dictioanry return type you can use the return value annotation.

def myDictFunction() -> dict[str:int]:
   myDict={"IDnumber":123456,"age":32}
   return myDict

myDict=myDictFunction()
print(myDict)

In [ ]:
# Return value annotation with a default parameter, the default parameter will be ignored.

def myTestFunction(myVal1: int, myVal2: int = 5) -> int:
  return (myVal1 * myVal2)

print(myTestFunction(1,2))

In [ ]:
# To annotate the tuple return type you can use the return value annotation.

def myTupleFunction(*args) -> tuple[int]:
    return args

myTuple = myTupleFunction(1,2,3,4,5)

print(myTuple)
print(type(myTuple))

In [ ]:
# To annotate the tuple return type you can use the return value annotation.

def myDictFunction(**kwargs) -> dict[str,str]:
    return kwargs

myDict = myDictFunction(Name="Oleaf", age="39")

print(myDict)
print(type(myDict))

# Section 6: Modules

6.1 Built-in modules

6.2 User defined modules

6.3 Importing modules

6.4 Plotting modules

6.1 Built-in modules
---
We decompose our code in smaller pieces to make our code more readable. The way we can do this is to import modules to the code. A file that contains a set of functions is called a module. This module can be accessed from a program using "**import**" keyword. A module can also contain variables of all data types. You need to import a module to access all the functions and variables. Most python distributions come with many build-in modules like os, sys, time, math ... Here are a few examples with built-in functions such as os, sys, time, datetime, and math.

---

In [ ]:
# To get current working directory path

import os

cwd = os.getcwd()

print("My current working directory: ", cwd)

In [ ]:
# To list content of your directory

import os

path="/content"

dir_content=os.listdir(path)

print("Content of my directory: ", dir_content)

In [ ]:
# In this example the version of Python interpreter is return as string
import sys

print(sys.version)

In [ ]:
# In this example we use sys.path that returns a list of directories
# where the Python interpreter will search for the available modules.
import sys

print(sys.path)

In [ ]:
# How to use time module
import time

print(time.strftime("%H:%M:%S"))

In [ ]:
# Date time now
import datetime

print(datetime.datetime.now())

In [ ]:
# To specify exact entity we need to use the following syntax.
import math

print(math.pi)

In [ ]:
# There is a dir() function that lists all the functions inside of a module

import math

myFirstList=dir(math)
print(myFirstList)

6.2 User defined modules
---
The following example should be performed in Jupyter Lab. Once you import a module the Python executes it immediately, that is why most of the modules contain functions and variables' definitions only. Some modules not only contain the functions but also some automated tests making sure that the functions work correctly. These tests are not activated upon the call but independently. Each module will be initialized only once eventhough you might have a few initializations in different files. Python will be aware of all the modules imported in other files.  

---

In [ ]:
# myOwnModule
if __name__=="__main__":
  print("This module runs directly")
else:
  print("This module is imported")

In [ ]:
#Main code
import myOwnModule

In [ ]:
# Save your file as myFirstModule.py

def greeting(name):
  print("Hello, " + name)

worker={"name":"John", "age":48, "country":"Germany"}

In [ ]:
# Import my own module
import myFirstModule

myFirstModule.greeting("Daniel")
myFirstModule.worker["age"]

6.3 Importing modules
---

Syntax:

        1. import module

        2. from module import *
        
        3. from module import entity1, entity2, ...
        
        4. import module as short name or alias
        
        5. from module import entity name as short name
        
        Both statements ( 1. and 2. ) are importing all
        the entities from the module. The difference is
        that in the first example you need to use prefix
        (module.method) to refer to the method and in the
        second example you do not need to use the prefix.

In [ ]:
# Importing just the entire module, importing all the entities.
import math

print(math.pi) # Built in

In [ ]:
# You can import everything from the module using an asterisk.
# It is not recommended to do so since a lot of conflicts can appear with your
# own function names and they will be replaced. You also need to notice that
# you do not need to specify math prefix anymore. You can just use the name itself.

from math import *

print("Pi number", pi)

In [ ]:
# Importing just some of the entities.
from math import acos, pi

print(acos(-1))
print(pi)

In [ ]:
# You can also import a module using an alias to refer to the module,
# a shorter name or an acronym for example.
import math as mth

print("Pi number :", mth.pi)

In [ ]:
# You can also import a module using an alias to refer to the module,
# a shorter name or an acronym for example.

import random as rnd

print(rnd.randint(0,9)) #Returns a number in a<=N<=b or [a,b] inclusive

In [ ]:
# Generating an array of random numbers
from numpy.random import seed
from numpy.random import randint

seed(1)

randomValues = randint(0,10,20)
print(randomValues)

Note

---
Most popular python modules are

**Numpy** - module is used for variety of mathematical operations on arrays.

**SciPy** - module with a lot of mathematical algorithms and functions.

**Pandas** - module designed to work with the datasets, data analysis.

**Jiango** - module designed to help build webpages using pyhton.

**PyTorch** - module with the largest machine learning library.

**Keras** - module with machine learning libraries.

**TensorFlow** - end-to-end machine learning module.

**MatplotLib** - module for creating static, animated, and interactive graphs.

---

6.4 Plotting module
---
Matplotlib is the most popular plotting module. It is used to create static, animated, and interactive graphs.

---

In [ ]:
# Importing the required module as alias plt
import matplotlib.pyplot as plt

# Generate x,y-axis values
x=[1,2,3,4]
y=[1,2,3,4]

# Plotting the points
plt.plot(x,y)

# Figure and axis titles
plt.title ('Figure Title', fontsize=12, color='red')
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt and np
import matplotlib.pyplot as plt
import numpy as np

# Generate x,y-axis values
x = np.array([1, 8])
y = np.array([3, 10])

# Plotting the points
plt.plot(x, y)

# Figure and axis titles
plt.title ('Figure Title', fontsize=12, color='red')
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt and np
import matplotlib.pyplot as plt
import numpy as np

# Generate 150 evenly spaced theta values from 0 to 2pi.
theta = np.linspace( 0 , 2 * np.pi , 150 )

# Setting up radius of the circle
radius = 0.2

# Calculating the x and y coordinates of points on a circle given the radius
x = radius * np.cos( theta )
y = radius * np.sin( theta )

# Creating two variables figure and axes
# figure represents the entire figure
# axes represent the plot itself
# plt.subplots(1) creates just one plot
figure, axes = plt.subplots( 1 )

# Plotting the points
axes.plot( x, y )

# Setting the aspect ratio to 1, plot will have equal scaling in x and y
axes.set_aspect( 1 )

# Show the title of the plot
plt.title( 'Parametric Equation Circle', fontsize=12, color='red' )
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt, mth, and np
import matplotlib.pyplot as plt
import math as mth
import numpy as np

# Generate x from 0 to 1*pi (not included) with the step size of 0.01 between each value
x = np.arange(0,10 * np.pi, 0.01)
y = np.cos(x)

# Plotting the points
plt.plot(x, y)
plt.grid(True)

plt.xlabel('x', fontsize=12, color='blue')
plt.ylabel('cos(x)', fontsize=12, color='blue')
plt.title('Cosine Function', fontsize=12, color='blue')

# Show the plot using show() function
plt.show()

# Section 7: Classes

7.1 Building simple classes

7.2 Classes and objects

7.3 Encapsulation and abstraction

7.4 Inheritance

7.5 Methods overriding

7.6 Polymorphism

7.1 Building simple classes
---
Python is an object-oriented high-level programming (OOP) language. Objects are an important part of Python programming. In fact, everything is an object in Python with default data and some functionality. Objects have attributes (variables) and methods (functions) specified in the class. To build an object, you need to use a constructor function ( _ _ init _ _() ). A constructor is a special function that is used to make an instance of a class. A class is like a blueprint that helps to create an object. You can then use that object (instance) of a class to assign some data and functionality. There are four main principles of object-oriented high-level programming.

1. Encapsulation,

2. Abstraction,

3. Inheritance, and

4. Polymorphism.

---

Syntax:

        class ClassName():
              def _ _ init _ _(self):
                  block of code

Note

---
Unlike variables, classes always start with the capital letters.

---

In [ ]:
# Creating your first class

class FirstClass:
      myVariable = 1

7.2 Classes and objects
---
The _ _ init _ _() function is called automatically everytime a new object is created. All python constructors must have at least one parameter, by convention it is called "**self**", however, you can call it anything you want. The "**self**" parameter is used to access variables that belong to the class. First argument of the constructor is always filled automatically for us. Attributes are just variables inside of your constructor function.

---

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:

      # Class constructor
      def __init__(self, name, age):

        # Class attributes
        self.name = name
        self.age = age

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

# Creating a new object of a class
mySecondObject = Employee("John", 48)

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

# Creating a new object of a class, the first argument is the reference to the object.
mySecondObject = Employee("John", 48)

# Accessing the method of the class
mySecondObject.listInfo()

Hello, My name is John and I am 48 years old.

7.3 Encapsulation and abstraction
---
 Encapsulation involves the bundling of data (attributes) and method (functions) that operate on data within a single unit. A single unit is known as a class. It allows one to access and modify the attributes while keeping the attributes private.

 Abstraction is a way to simplify the complex reality by creating a class and hide some unnecessary details. You can implement abstraction using classes and methods, where you show only the relevant details and hiding the internal implementation.  

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Adding properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", speed)

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", self.speed)

# Creating an object
myTrain = Train("High-speed", 2, 0)

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", self.speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

myTrain.speed_up()
myTrain.speed_up()
myTrain.speed_up()

myTrain.show_speed()

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my", self.kind, " train is", self.speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)


# Accessing the speed and kind properties directly
myTrain.speed = -200
myTrain.kind  = "Regional"

myTrain.show_speed()

Current speed of my Regional  train is -200 miles an hour

Private property
---
One can have a property private that should be prefixed with an underscore _ or _ _ . While it does not make it entirely private, it sends a signal to a developer that these properties should not be accessed directly.
Changing a name with two underscores (mangling) makes it harder to access or override. However, you wont be able to hide the attributes completely and you can still access them.

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.__kind       = kind
        self.length     = length

        # Making the speed property private
        self._speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self._speed += 1

    def speed_down(self):
        self._speed -= 1

    def show_speed(self):
        print("Current speed of my", self.__kind, " train is", self._speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

# Accessing the speed and kind properties directly
myTrain.speed = -200
myTrain.kind  = "Regional"

myTrain.show_speed()

Current speed of my High-speed  train is 0 miles an hour

Private method
---
One can have a private method defined within a class. It also should be prefixed with an underscore _ or _ _ by convention.

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.__kind       = kind
        self.length     = length

        # Making the speed property private
        self._speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self._speed += 1

    def _speed_down(self):
        self._speed -= 1

    def show_speed(self):
        print("Current speed of my", self.__kind, " train is", self._speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

# Accessing the private method speed_down.
myTrain.speed_down()

7.4 Enheritance
---
 Enheritance provides a way to create a new class based on the existing class, inheriting its attributes and methods. We can create a superclass, which is broad and subclass that is more detailed. Here is an example of the inheritance.

---

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    pass

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    pass

# Define a child or subclass class that inherits from Mammal.
# Dog is the specific specie within the mammal class.

class Dog(Mammal):
    pass

#issubclass(Mammal,Animal)
#issubclass(Dog,Mammal)
#issubclass(Dog,Animal)

myDog = Dog()
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
class Mammal(Animal):
    pass

# If you do not specify the constructor explicitely in Dog subclass
class Dog(Mammal):
    pass

myDog = Dog("Rex")
print(myDog.__dict__)

{'name': 'Sniffer'}

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, color):
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("golden")
print(myDog.__dict__)

{'color': 'golden'}

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      Animal.__init__(self, name)
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      super().__init__(name)
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      super().__init__(name)
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")
print(myDog.__dict__)

# Inheriting the name variable from Animal superclass
myDog.name = "Rocky"
print(myDog.__dict__)

Note

---
In case of super() keyword you do not need a self parameter since it is going to be taken automatically.

___

Syntax:

        ClassName.__init__(self, varName)
          super().__init__(varName)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    message = "This message is from Animal superclass"
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      super().__init__(name)
      self.color = color
      print(super().message)

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")

 7.5  Method overriding
---
Method overriding provides a subclass to define a method that has alredy being
defined in its superclass.

---

In [ ]:
# Define a parent or superclass class.
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        pass  # This method will be overridden in subclasses

# Define a child or subclass class that inherits from Animal.
class Dog(Animal):
    def speak(self):
        print ("Woof, Woof!")

# Define a child or subclass class that inherits from Animal.
class Cat(Animal):
    def speak(self):
        print ("Meow, Meow!")

# Create instances of the subclasses
myDog = Dog("Rex")
myCat = Cat("Misty")

# Call the speak method on each instance
myDog.speak()
myCat.speak()

7.6 Polymorphism
---
 Polymorphism is an ability for a method to be executed on different objects. We can have multiple classes with the same method name.  

---

In [ ]:
# Define a parent or superclass class.
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        pass  # This method will be overridden in subclasses

# Define a child or subclass class that inherits from Animal.
class Dog(Animal):
    def speak(self):
        print ("Woof, Woof!")

# Define a child or subclass class that inherits from Animal.
class Cat(Animal):
    def speak(self):
        print ("Meow, Meow!")

# Create instances of Dog and Cat
myDog = Dog("Rex")
myCat = Cat("Misty")

# Create a function that takes an Animal object and makes it speak
# When myDog and myCat instances are passed to the function,
# it is showing polymorphism. The function works with objects of
# different classes and calls the appropriate speak method for
#each object.

def animalSpeak(animal):
    return animal.speak()

# Call the make_animal_speak function with different animal objects
animalSpeak(myDog)
animalSpeak(myCat)

Woof, Woof!
Meow, Meow!

# Section 8: Exceptions

Description:

---
        An exception is activated by an execution error that will terminate the
        program execution. Exceptions are controlled by try and except branches.

        1. try is executed
        2. if no exception occurs, exception is skipped
        3. if exception occures matching the exception name, the exception statement is executed
        4. if there is no exception named it passes to the outer try statement

        The list of most common exceptions in Python language:

        ZeroDivisionError - raised if division by zero has attempted;
        AttributeError - raised if method tried that does not exist;
        SyntaxError - raised in violation of Python's grammar;
        ValueError - raised when wrong use of values;
        TypeError - raised when wrong type of data;
        NameError - raised when variable or function does does not exist.
---

Syntax:

        try:    block of code that causes an exception
        except: block of code to run when exception occures

Errors
---
Exceptions are the errors that Python generates. Python does not know what to do and it raises an exception. One of the most often errors is the syntax error. Syntax errors are very easy to find and fix. Here's an example of simple syntax error.

---

In [ ]:

if True;
print("Hello, World!")

SyntaxError: ignored

In [ ]:
# Exception for division by zero

myDivision = (1.0/float(input("Enter any number except zero ")))

Enter any number except zero vsl

ValueError: ignored

In [ ]:
# Exception for division by zero

myDivision = (1.0/float(input("Enter any number except zero ")))

Enter any number except zero 0

ZeroDivisionError: ignored

Note

---
When you see the error you are given some useful information, a line that produces the error, name of the error, and you can see a descriptive message that will help you to debug the program.

---

In [ ]:
# Exception for division by zero

def devisionByZero():
   myDivision = (1.0/float(input("Enter any number except zero ")))
   return myDivision

try:
  devisionByZero()
except ZeroDivisionError:
  print('Division by zero has been attempted')

In [ ]:
# Exception for division by zero

def devisionByZero():
   myDivision = (1.0/float(input("Enter any number except zero ")))
   return myDivision

try:
    devisionByZero()
except ValueError:
  print("Wrong value input")
except ZeroDivisionError:
  print("Division by zero")
except TypeError:
  print("Error")

# Section 9: Input and output (I/O) operations

9.1 User input

9.2 File input output

9.3 Print function

Note

---
Input and output in Python involves reading data from various sources and writing data to various destinations. Pyhton provides several ways to handle input and output. Here are examples of the most commpn methods.

---

9.1 User input
---
User input is allowed in Python. The input() method (python 3.6) or raw_input method in python (2.7) can be used.

---

Syntax:

        variable = input( " Corresponding text for a user " )

In [ ]:
# The user input

userName = input("Enter your user name plz: \n")

print("Your username is: " + userName)

9.2 File input and output
---
File input and output in Python is a way to read from and write to a file on your loacal machine. Python provides a few methods to work with files. Files in Pyhton can be created, read, appended, ... open() function can be used to work with files in Python. This function takes two parameters: filename and mode.

---
        
        Method (mode) for opening a file:
        r - Read - Default value. Opens a file for reading, error if the file does not exist
        a - Append - Opens a file for appending, creates the file if it does not exist
        w - Write - Opens a file for writing, creates the file if it does not exist
        x - Create - Creates the specified file, returns an error if the file exists
        
        In the text or binary modes
        
        t - Text - Default value. Text mode
        b - Binary - Binary mode (e.g. images)

Syntax:

        file = open("filename", "mode")

___

In [ ]:
# To open a file - requires explicit closing

myFirstFile = open( "myDataFile.txt", "rt" )
myFirstFile.close()                       #Close the file when you are finished.

In [ ]:
# To open a file - requires explicit closing

myFirstFile = open( "myDataFile.txt", "r" )

myFirstFile.read()
myFirstFile.readline()

myFirstFile.close()                       #Close the file when you are finished.

In [ ]:
# Loop through the entire file

myFirstFile = open( "myDataFile.txt", "r" )

for i in myFirstFile: print(i)

myFirstFile.close()                      # Close the file when you are finished.

It is going to the end of a file

In [ ]:
# To append to a file you need to use "a" parameter

myFirstFile = open( "myDataFile.txt", "a" )

myFirstFile.write("It is going to the end of a file")

myFirstFile.close() #Close the file when you are finished.

# Open and read the file after the appending

myFirstFile = open( "myDataFile.txt", "r" )

print(myFirstFile.read())

myFirstFile.close() #Close the file when you are finished.

Creating a new file
---

        Method (mode) for opening a file:
        r  - Open   - will open a file for reading;
        x  - Create - will create a file, returns an error if the file exist;
        a  - Append - will create a file if the specified file does not exist;
        w  - Write  - will create a file if the specified file does not exist.

In [ ]:
# Creating a new file

myFirstFile = open( "myDataFile2.txt", "x" ) # a new and empty file is created
myFirstFile = open( "myDataFile3.txt", "w" ) # if there is no file, it will be created
myFirstFile = open( "myDataFile4.txt", "a" ) # if there is no file, it will be created

myFirstFile.close()

In [ ]:
# To delete the file you need to import the os module

import os

if os.path.exists("myDataFile.txt"):
   os.remove("myDataFile.txt")
else:
  print("This file does not exist")

In [ ]:
# To delete the entire folder

import os

os.rmdir("myFolder")

Open file with "with" option
---

Description:

---
        Using the open() method requires you to use the close() method to close
        the file. "with" option allows to open files as it returns a file
        object, which has methods and attributes to manipulate the files.

---
Syntax:

        with open("myDataFile.txt) as file:

In [ ]:
# Using "with" - no explicit closing of a file is required

with open("myDataFile.txt", "a") as myFirstFile:
  myFirstFile.write("Hello World!")

# You do not need to close it explicitely

9.3 Print function
---
Print function is usually used for to print python objects as standard output.

---
Syntax:

        print(objects, sep, end, file, flush)

        objects - strings, tuples, lists, etc.
        sep - an optional parameter that is used to define a separation.
        end - an optional parameter that is used to define an end of a string printed.
        file - an optional parameter when writing to the file.
        flush - an optional boolean parameter setting flushed or buffered output.

In [ ]:
# Printing the objects

myList   = [ 1, 2, 3, 4, 5 ]

myTuple  = ( 1, 2, 3, 4, 5 )

myString = "1, 2, 3, 4, 5"

print(myList, myTuple, myString)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) 1, 2, 3, 4, 5

In [ ]:
# Printing objects with a separator

myList   = [ 1, 2, 3, 4, 5 ]
myTuple  = ( 1, 2, 3, 4, 5 )
myString = " 1, 2, 3, 4, 5 "

print(myList, myTuple, myString, sep="/")

[1, 2, 3, 4, 5]/(1, 2, 3, 4, 5)/ 1, 2, 3, 4, 5

In [ ]:
# Printing objects with a separator and an end

myList   = [ 1, 2, 3, 4, 5 ]
myTuple  = ( 1, 2, 3, 4, 5 )
myString = " 1, 2, 3, 4, 5 "

print(myList, myTuple, myString, sep=" ; ", end=" END")

[1, 2, 3, 4, 5] ; (1, 2, 3, 4, 5) ;  1, 2, 3, 4, 5  END

In [ ]:
# Using flush command

import time
countSeconds = 3

for i in reversed(range(countSeconds + 1)):
  if i> 0:
    print(i, end="/", flush=True)  #flush specifies if it is flushed (True) or buffered (False)
    time.sleep(1)
  else:
    print('End of a file')

3/2/1/End of a file

Formating output from print() function
---
General syntax is listed for a format placeholder.

---
Syntax:
              
             ' %d %s ... %.2f '    %         ( 1, 2, ..., n)
            |------------------|   %   |-------------------------|
                  template      modulus    positional arguments   
       print(' %d %s ... %.2f'     %         ( 1, 2, ..., n)     )  


            |------------------|.format|-------------------------|
                  template       format    positional arguments
       print(' {} {} ... {} n'  .format      ( 1, 2, ..., n )    )

       print(' {key} ... {} n'  .format     (key = value, ...)   )

       print(f'{} {} ... {} n' )

In [ ]:
# Output formatting in python
# This program is showing how to use
# string modulo operator(%) to print various data types

# print integer and float value
print("Integer number : %2d, float number : %5.2f" % (11, 05.333))

# print integer value
print("Total students : %3d, Boys : %2d" % (240, 120))

# print octal value
print("%7.3o" % (25))

# print integer value
print("%7.3d" % (25))

# print exponential value
print("%10.3e" % (356.08977))

In [ ]:
# Output formatting in python
# This program is showing how to use
# string modulo operator(%) to print various data types
print('%d %s cost $%.2f' % (3, 'oranges', 5.11))

In [ ]:
# Control output using format() method with one argument

myString = "Python language was created in {}"

print(myString.format(1985))

In [ ]:
# Python’s string.format() method is used instead
print('{0} {1} cost ${2}'.format(3, 'oranges', 5.11))
#     |-----------------|.format|--------------------------|
#           template     .format    positional arguments

In [ ]:
# Using keyword parameters instead of positional arguments
print('{quantity} {item} cost ${price}'.format(quantity=3,item='oranges',price=5.11))

In [ ]:
# Output formatting in Python
# This program is showing how to use
# f-string to print various data types

quantity = 3
item = 'oranges'
price = 5.11

print(f'{quantity} {item} cost ${price}')