<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introductin to Python**

by Oleg N. Starovoytov

Date: 03/22/2023

# Python *101*
1. Comments
2. Variables
3. Operators
4. Data types
5. Control flows
6. File I/O
7. Python modules
8. Classes

# 1. Comments

Comments are usually used to indicate important details about the code.

"#" - sign is used for comments in python, it can be placed right after the code. 

You can use triple quotes to make a multiline comments

""" Your comments can be placed here """

In [ ]:
# This is a comment
print("Hello World!")

Hello World!

In [ ]:
# This is a first comment
print("Hello World!") # This is my second comment

Hello World!

In [ ]:
""" This is a multiple 
line
commnet """
print("Hello World!")

Hello World!

# 2. Variables

**A variable's name references or points to an object. Each object can have various data types with some stored values. No particular type is used upon variable declaration.**

There are some rules for creating a variable name: 

a) A variable name can start with alpha-numeric characters and/or underscore (A-z, 0-9, and _ ),

b) a variable name is case-sensitive,

c) there is no limit on varable length,

d) there should not be any spaces for a multi-word variable,

e) no python keywords can be used to create a variable name,
   
   Examples: **for, while, print, ...**

To assign an object to the variable you need to use assign operator

In [ ]:
#Correct declaration of variables
myFirstVariable = "John"
MyFirstVariable = "John"
my_first_variable = "John"
_my_first_Variable = "John"
MY_FIRST_VARIABLE = "John"
myFirst_Variable363 = "John"

In [ ]:
#Illegal declaration of variables

100myFirstVariable = "John" # can not start with a number
my-first-variable = "John". # can not have dash in the name
my first variable = "John"  # can not have spaces in the variable name
&myFirstVariable="John"     # can not have special characters in the name 
for = "John"                # can not use reserved python keywords

In [ ]:
# Declaration of variables 
TestVariable = 1.0
print(type(TestVariable))
print(TestVariable)
TestVariable = "Python is fun!"
print(type(TestVariable))
print(TestVariable)

<class 'float'>
1.0
<class 'str'>
Python is fun!

Some other rules and conventions:

   **Camel Case** - each word starts with a capital letter except the first one.

   Example: **myVariableName**

   **Pascal Case** - each word starts with a capital letter.

   Example: **MyVariableName**

   **Snake Case** - each word is connected by underscore.

   Example: **my_variable_name**

In [ ]:
# Declaration of a variable using Camel Case
myFirstVariable = "Camel Case"
print(myFirstVariable)

Camel Case

In [ ]:
# Declaration of a variable using Pascal Case
MyFirstVariable = "Pascal Case"
print(MyFirstVariable)

Pascal Case

In [ ]:
# Declaration of a variable using Snake Case
my_first_variable = "Snake Case"
print(my_first_variable)

Snake Case

Assign multiple values

In [ ]:
# Assign multiple values to multiple variables in one line 
x, y, z = 23.4, 35.6, 45.1
print(x)
print(y)
print(z)

23.4
35.6
45.1

In [ ]:
# Assign multiple values of multiple data types to multiple variables in one line 
x, y, z, e, f, g = 23.4, 35.6, 45.1, "John", "Karl", True
print(x)
print(y)
print(z)
print(e)
print(f)
print(g)

23.4
35.6
45.1
John
Karl
True

In [ ]:
# Assign one value to multiple variables
x=y=z=2.25
print(x)
print(y)
print(z)

2.25
2.25
2.25

In [ ]:
#Using unpacking
coordinates=[2.35, 6.37, -8.94]
x,y,z = coordinates
print(x)
print(y)
print(z)

2.35
6.37
-8.94

In [ ]:
#Output variables
coordinates=[2.35, 6.37, -8.94]
x,y,z = coordinates
print(x, y, z)
print(x+y+z)

2.35 6.37 -8.94
-0.21999999999999886

In [ ]:
#Output variables
coordinates=["John", "Lisa", "Michelle"]
x,y,z = coordinates
print(x, y, z)
print(x+y+z)
print("*"*5)

John Lisa Michelle
JohnLisaMichelle
*****

**Global and local variables**

**Global variables** are the variables that can be accessed from anywhere in your code.

**Local variables** are accessable withing a local scope.

In [ ]:
mySecondVariable = "cool!"

def myfunc():
  print("Python is " + mySecondVariable)

myfunc()

In [ ]:
myThirdVariable = "awesome"

def myfunc():
  myLocalVariable = "fantastic"
  print("Python is " + myThirdVariable)
  print("Python is " + myLocalVariable)

myfunc()

print("Python is " + myLocalVariable)

In [ ]:
myThirdVariable = "awesome"

def myfunc():
    global myLocalVariable 
    myLocalVariable = "fantastic"
    print("Python is " + myThirdVariable)
    print("Python is " + myLocalVariable)

myfunc()

print("Python is " + myLocalVariable)

# 3. Data types

Variables can store different types of data.
There are **built-in data types** in python:

Numeric Types:	**int, float, complex**

Boolean Type:	**bool**

Sequence Types:	**string, list, tuple, range**

Dictionary Type:	**dict**

Set Types:	**set, frozenset**

Binary Types:	**bytes, bytearray, memoryview**

None Type:	**NoneType**

*Primitive types are **integer, float, string, and boolean**. All other are non-primitive types including lists, tuples, dictionary, and etc.*

The data type can be accessed by using type function.

In [38]:
#Using type function

MyFirstVariable = 23
mySecondVariable = 0.00036
myThirdVariable = 10+5j
myFourthVariable = True

myFirstVariable = "Hello World!"
myFifthVariable = [0,1,2,3,4,5,6,7,8,9]
mySixthVariable = ("John", "Mikle", "Desbey")

MySeventhVariable = {"Name":"John", "age":41, "Occupation":"CEO"}

MyEighthVariable = {"apple", "banana", "cherry"}
MyNinthVariable = frozenset({"apple", "banana", "cherry"})

myTenthVariable = b"Hello"
myEleventhVariable = bytearray(5)
myTwelvefthVariable = memoryview(bytes(5))

myThirteenthVariable = None
myFourteenthVariable = range(12)

print(type(myFirstVariable))
print(type(mySecondVariable))
print(type(myThirdVariable))
print(type(myFourthVariable))
print(type(myFifthVariable))
print(type(mySixthVariable))
print(type(MySeventhVariable))
print(type(MyEighthVariable))
print(type(MyNinthVariable))
print(type(myTenthVariable))
print(type(myEleventhVariable))
print(type(myTwelvefthVariable))
print(type(myThirteenthVariable))
print(type(myFourteenthVariable))

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>
<class 'range'>

In [ ]:
#Using random module
import random
print(random.randrange(1,10))

Python uses classes to define its data types, including its primitive types.

In [ ]:
#Using casting to specify the data type
myFirstVariable = int(1)        # will be 1
mySecondVariable = int(2.8)     # will be 2
myThirdVariable = int("3")      # will be 3

In [ ]:
#Using casting to specify the data type
myFirstVariable = float(10)     # will be 10.0
mySecondVariable = float(2.8)   # will be 2.8
myThirdVariable = float("4.2")  # will be 4.2

In [ ]:
#Using casting to specify the data type
myFirstVariable = str(1)   # will be 1
mySecondVariable = str(2.890) # will be 2.890
myThirdVariable = str("3.498") # will be 3.498

Binary only uses the digits 0 and 1.

In [61]:
#Binary numbers uses bin()
myFirstVariable = 0b101 #The binary numbers start with 0b
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)

print(bin(5))
print(type(bin(mySecondVariable)))

5
5
True
True
0b101
<class 'str'>

There are 16 digits in hexadecimal: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, and F. Where A is ten, B is eleven, C is twelve, D is thirteen, E is fourteen, and F is fifteen.

In [62]:
#Hexadecimal numbers uses hex()
myFirstVariable = 0x1F #The hexadecimal numbers start with "0x"
mySecondVariable = 26

print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)

print(hex(26))
print(myFirstVariable)
print(type(hex(mySecondVariable)))

False
False
0x1a
31
<class 'str'>

Finally, how many digits are in the octal number system? Octal contains eight digits. The oct() is used to convert numbers to octal in Python. The prefix ‘0o’ is used with octal numbers with a zero followed by a lowercase o.

The eight digits of octal are 0, 1, 2, 3, 4, 5, 6, 7.

In [63]:
#Octal numbers use oct()
myFirstVariable = 0o12 #The octal numbers start with "0o"
mySecondVariable = 0o12
print(myFirstVariable)
print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)


sumOct = int(myFirstVariable)+ int(mySecondVariable)
print(sumOct)

print(oct(sumOct))
print(type(oct(sumOct)))

10
True
True
20
0o24
<class 'str'>

In [ ]:
#Octal numbers use oct()
myFirstVariable = 0o123 #The octal numbers start with "0o"
mySecondVariable = 83
print(myFirstVariable)
print(myFirstVariable==mySecondVariable)
print(myFirstVariable is mySecondVariable)

sumOct = int(myFirstVariable,8)+ int(mysecondVariable,8)
print(sumOct)

83
True
True

In [ ]:
#String
myTestVariable = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(myTestVariable)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
myTestVariable = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(myTestVariable)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Strings are arrays
#The element of a string can be accessed

# 4. Operators

**Assignment operators**

* arithmetic: =, +=, -=, *=, /=, %=, //=		
* bitwise: **=, &=, |=, ^=, <<=

In [66]:
#Bitwise operations XOR

myFirstVariable = 0b1101^0b0110
print(myFirstVariable)
print(type(myFirstVariable))

11
<class 'int'>

**Arithmetic operators**
* Addition:	x + y	
* Subtraction:	x - y	
*	Multiplication:	x * y	
* Division:	x / y	
* Modulus:	x % y	
* Exponentiation:	x ** y	
* Floor division:	x // y

**Bitwise operators**

You can use bitwise operators to perform Boolean logic on individual bits. That’s very similar to using logical operators such as and, or, and not.

You can evaluate Boolean expressions with bitwise operators instead of logical operators.

* &(AND), | (OR), ^(XOR), ~(NOT)
* << (left shift), >>(right shift)

In [68]:
#Bitwise AND (&) operator - logical conjuction
myFirstVariable = 0b1101 & 0b0110
print(myFirstVariable)
print(type(myFirstVariable))

4
<class 'int'>

In [69]:
#Bitwise OR (|) operator - logical disjunction
myFirstVariable = 0b1101 | 0b0110
print(myFirstVariable)
print(type(myFirstVariable))

15
<class 'int'>

In [72]:
#Bitwise NOT (~) operator - logical negation
myFirstVariable = ~0b1101
print(myFirstVariable)
print(type(myFirstVariable))

-14
<class 'int'>

In [ ]:
#Bitwise XOR (^) operator - "exclusive or"
#It evaluates two mutually exclusive conditions and
#returns exactly one of them if conditions are met.

myFirstVariable = 0b1101^0b0110
print(myFirstVariable)
print(type(myFirstVariable))

11
<class 'int'>

**Comparison operators**

* Equal:	x == y	
* Not equal:	x != y	
* Greater than:	x > y	
* Less than:	x < y	
* Greater than or equal to:	x >= y	
* Less than or equal to:	x <= y


---


* is, is not

In [3]:
# Equal
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable==mySecondVariable:
  print("True")

True

In [10]:
# Not equal
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable!=mySecondVariable:
  print("True")
elif myFirstVariable==mySecondVariable:
  print("False")

False

In [11]:
# Grater than
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable>mySecondVariable:
  print("True")
else:
  print("False")

False

In [14]:
# Less than
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable>mySecondVariable:
  print("True")
else:
  print("False")

False

In [15]:
# Greater than or equal to
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable>=mySecondVariable:
  print("True")
else:
  print("False")

True

In [16]:
# Less than or equal to
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable<=mySecondVariable:
  print("True")
else:
  print("False")

True

In [18]:
# Short hand 1
myFirstVariable = 10.0
mySecondVariable = 10.0
if myFirstVariable<=mySecondVariable:print("True")
else:print("False")

True

In [35]:
# Short hand 2
myFirstVariable = 10.0
mySecondVariable = 10.0
print("True")if myFirstVariable<=mySecondVariable else print("False")

True

In [37]:
# is and is not comparison operators
myFirstList  = [1,2,3,4,5]
mySecondList = [1,2,3,4,5]

print(myFirstList==mySecondList)
print(myFirstList is mySecondList)
print(myFirstList is not mySecondList)

True
False
True

**Logical operators**

* and, 	or, not

In [31]:
# Logical and operator
myFirstVariable = 10.0
mySecondVariable = 10.0
myThirdVariable = 20.0
if myFirstVariable<myThirdVariable and myFirstVariable==mySecondVariable:
  print("Both conditions are True")
else:
  print("False")

Both conditions are True

In [30]:
# Logical or operator
myFirstVariable = 10.0
mySecondVariable = 10.0
myThirdVariable = 20.0
if myFirstVariable<myThirdVariable or myFirstVariable<mySecondVariable:
  print("At least one of the conditions is True")
else:
  print("False")

At least one of the conditions is True

In [33]:
# Logical not operator
myFirstVariable = 10.0
mySecondVariable = 10.0
myThirdVariable = 20.0
if not myFirstVariable>myThirdVariable:
  print("myFirstVariable is not greater than myThirdVariable")
else:
  print("False")

myFirstVariable is not greater than myThirdVariable

**Operator precedence**

* Parentheses: ()	
* Exponentiation: **	
* Unary: +x,  -x,  ~x	
* Arithmetic: *,  /,  //,  %, +, -
* Bitwise: <<, >>, AND, ^, |	
* Comparison: ==,  !=,  >,  >=,  <,  <=  
* Identity: is,  is not,  in,  not in

More details on operators can be found at https://www.w3schools.com/python/default.asp

# 5. Control flows

# 6. File I/O

# 7. Python modules

A file that contains a set of functions is called a module. This module can be accessed from a program using "**import**" keyword. A module can also contain variables of all data types. There are several built-in module that you can import.

In [ ]:
# import

# 8. Classes