<a href="https://colab.research.google.com/github/qmpotential/Python101/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introductin to Python**

by Oleg N. Starovoytov

Date: 03/22/2023

# Python *101*
1. Comments
2. Variables
3. Operators
4. Data types
5. Control flows
6. File I/O
7. Python modules
8. Classes

# 1. Comments

Comments are usually used to indicate important details about the code.

"#" - sign is used for comments in python, it can be placed right after the code. 

You can use triple quotes to make a multiline comments

""" Your comments can be placed here """

In [3]:
# This is a comment
print("Hello World!")

Hello World!

In [2]:
# This is a first comment
print("Hello World!") # This is my second comment

Hello World!

In [1]:
""" This is a multiple 
line
commnet """
print("Hello World!")

Hello World!

# 2. Variables

**A variable's name references or points to an object. Each object can have various data types with some stored values. No particular type is used upon variable declaration.**

There are some rules for creating a variable name: 

a) A variable name can start with alpha-numeric characters and/or underscore (A-z, 0-9, and _ ),

b) a variable name is case-sensitive,

c) there is no limit on varable length,

d) there should not be any spaces for a multi-word variable,

e) no python keywords can be used to create a variable name,
   
   Examples: **for, while, print, ...**

To assign an object to the variable you need to use assign operator

In [10]:
#Correct declaration of variables
myFirstVariable = "John"
MyFirstVariable = "John"
my_first_variable = "John"
_my_first_Variable = "John"
MY_FIRST_VARIABLE = "John"
myFirst_Variable363 = "John"

In [ ]:
#Illegal declaration of variables

100myFirstVariable = "John" # can not start with a number
my-first-variable = "John". # can not have dash in the name
my first variable = "John"  # can not have spaces in the variable name
&myFirstVariable="John"     # can not have special characters in the name 
for = "John"                # can not use reserved python keywords

In [4]:
# Declaration of variables 
TestVariable = 1.0
print(type(TestVariable))
print(TestVariable)
TestVariable = "Python is fun!"
print(type(TestVariable))
print(TestVariable)

<class 'float'>
1.0
<class 'str'>
Python is fun!

Some other rules and conventions:

   **Camel Case** - each word starts with a capital letter except the first one.

   Example: **myVariableName**

   **Pascal Case** - each word starts with a capital letter.

   Example: **MyVariableName**

   **Snake Case** - each word is connected by underscore.

   Example: **my_variable_name**

In [6]:
# Declaration of a variable using Camel Case
myFirstVariable = "Camel Case"
print(myFirstVariable)

Camel Case

In [7]:
# Declaration of a variable using Pascal Case
MyFirstVariable = "Pascal Case"
print(MyFirstVariable)

Pascal Case

In [9]:
# Declaration of a variable using Snake Case
my_first_variable = "Snake Case"
print(my_first_variable)

Snake Case

Assign multiple values

In [27]:
# Assign multiple values to multiple variables in one line 
x, y, z = 23.4, 35.6, 45.1
print(x)
print(y)
print(z)

23.4
35.6
45.1

In [29]:
# Assign multiple values of multiple data types to multiple variables in one line 
x, y, z, e, f, g = 23.4, 35.6, 45.1, "John", "Karl", True
print(x)
print(y)
print(z)
print(e)
print(f)
print(g)

23.4
35.6
45.1
John
Karl
True

In [30]:
# Assign one value to multiple variables
x=y=z=2.25
print(x)
print(y)
print(z)

2.25
2.25
2.25

In [31]:
#Using unpacking
coordinates=[2.35, 6.37, -8.94]
x,y,z = coordinates
print(x)
print(y)
print(z)

2.35
6.37
-8.94

In [33]:
#Output variables
coordinates=[2.35, 6.37, -8.94]
x,y,z = coordinates
print(x, y, z)
print(x+y+z)

2.35 6.37 -8.94
-0.21999999999999886

In [35]:
#Output variables
coordinates=["John", "Lisa", "Michelle"]
x,y,z = coordinates
print(x, y, z)
print(x+y+z)
print("*"*5)

John Lisa Michelle
JohnLisaMichelle
*****

**Global and local variables**

**Global variables** are the variables that can be accessed from anywhere in your code.

**Local variables** are accessable withing a local scope.

In [ ]:
mySecondVariable = "cool!"

def myfunc():
  print("Python is " + mySecondVariable)

myfunc()

In [ ]:
myThirdVariable = "awesome"

def myfunc():
  myLocalVariable = "fantastic"
  print("Python is " + myThirdVariable)
  print("Python is " + myLocalVariable)

myfunc()

print("Python is " + myLocalVariable)

In [ ]:
myThirdVariable = "awesome"

def myfunc():
    global myLocalVariable 
    myLocalVariable = "fantastic"
    print("Python is " + myThirdVariable)
    print("Python is " + myLocalVariable)

myfunc()

print("Python is " + myLocalVariable)

# 3. Data types

Variables can store different types of data.
There are **built-in data types** in python:

Numeric Types:	**int, float, complex**

Boolean Type:	**bool**

Sequence Types:	**string, list, tuple, range**

Dictionary Type:	**dict**

Set Types:	**set, frozenset**

Binary Types:	**bytes, bytearray, memoryview**

None Type:	**NoneType**

*Primitive types are **integer, float, string, and boolean**. All other are non-primitive types including lists, tuples, dictionary, and etc.*

The data type can be accessed by using type function.

In [62]:
#Using type function

MyFirstVariable = 23
mySecondVariable = 0.00036
myThirdVariable = 10+5j
myFourthVariable = True

myFirstVariable = "Hello World!"
myFifthVariable = [0,1,2,3,4,5,6,7,8,9]
mySixthVariable = ("John", "Mikle", "Desbey")

MySeventhVariable = {"Name":"John", "age":41, "Occupation":"CEO"}

MyEigthVariable = {"apple", "banana", "cherry"}
MyNinthVariable = frozenset({"apple", "banana", "cherry"})

myTenthVariable = b"Hello"
myElleventhVariable = bytearray(5)
myTwelvethVariable = memoryview(bytes(5))

myThirteenthVariable = None
myFourteenthVariable = range(12)

print(type(myFirstVariable))
print(type(mySecondVariable))
print(type(myThirdVariable))
print(type(myFourthVariable))
print(type(myFifthVariable))
print(type(mySixthVariable))
print(type(MySeventhVariable))
print(type(MyEigthVariable))
print(type(MyNinthVariable))
print(type(myTenthVariable))
print(type(myElleventhVariable))
print(type(myTwelvethVariable))
print(type(myThirteenthVariable))
print(type(myFourteenthVariable))

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>
<class 'range'>

In [ ]:
#Using random module
import random
print(random.randrange(1,10))

Python uses classes to define its data types, including its primitive types.

In [67]:
#Using casting to specify the data type
myFirstVariable = int(1)        # will be 1
mySecondVariable = int(2.8)     # will be 2
myThirdVariable = int("3")      # will be 3

In [66]:
#Using casting to specify the data type
myFirstVariable = float(10)     # will be 10.0
mySecondVariable = float(2.8)   # will be 2.8
myThirdVariable = float("4.2")  # will be 4.2

In [68]:
#Using casting to specify the data type
myFirstVariable = str(1)   # will be 1
mySecondVariable = str(2.890) # will be 2.890
myThirdVariable = str("3.498") # will be 3.498

# 4. Operators

# 5. Control flows

# 6. File I/O

# 7. Python modules

# 8. Classes